.mat-mdc-dialog-container .mdc-dialog__title{
    color: #fff;
    background-color: black;
  }

.logo {
width: 20px;
height: 20px;
}

.select-all{
    margin: 5px 17px;   // added new for all check box
  }
