<div style="text-align: center;font-weight: bold;    height: 24px;
vertical-align: middle;margin-top: 30px;">
    <h3 class="routerTitle">PMS Job History</h3>
</div>

<fury-page-layout mode="card" class="add-pmsjobdetails">
    <div style="padding:10px 100px 31px 100px;">

        <table style="width: 100%;">

            <tr>
                <td>
                    <table class="head-table">
                        <tr>
                            <td class="job-code-td1">Job Code</td>
                            <td class="job-code-td2">&nbsp;</td>
                            <td class="job-code-td3">0003</td>                        
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div fxFlex="40">
                        <table class="head-table2">
                            <tr>
                            <td class="job-code-1">Vessel Name</td>
                            <td class="job-code-2">:</td>
                            <td class="job-code-3">Alexandre</td> 
                        </tr>
                        <tr>
                            <td class="job-code-1">Machinery</td>
                            <td class="job-code-2">:</td>
                            <td class="job-code-abc">ABC</td> 
                        </tr>
                        <tr>
                            <td class="job-code-1">SubComponent</td>
                            <td class="job-code-2">:</td>
                            <td class="job-code-3">GENERAL</td> 
                        </tr>
                        <tr>
                            <td class="job-code-1">Job Title</td>
                            <td class="job-code-2">:</td>
                            <td class="job-code-ae">A/E Alternator - Complete overhaul</td> 
                        </tr>
                    
                        <tr>
                            <td class="job-code-1">Frequency</td>
                            <td class="job-code-2">:</td>
                            <td class="job-code-3">6 Months</td> 
                        </tr>
                        </table> 
                        </div> 
                        <div fxFlex="60">
                           
                      </div>
                      </div> 

            </tr>
        </table>


        <div #TABLE>
            <table [dataSource]="dataSource" mat-table matSort #table class="details-table" style="    background-color: #1f497d;
            ">
                  
              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">Date</th>
      
              </ng-container>
      
              <ng-container matColumnDef="RHRS">
                <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">RHRS</th>
      
              </ng-container>
              <ng-container matColumnDef="Value">
                <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">Value</th>
      
              </ng-container>
              <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">Type</th>
      
              </ng-container>
            
              <ng-container matColumnDef="header-row-first-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">
                  Last Due Date
                </th>
              </ng-container>
              <ng-container matColumnDef="header-row-second-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2" style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">
                  Last Done
                </th>
              </ng-container>
      
              <ng-container matColumnDef="header-row-third-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2" style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">
                    Frequency
                </th>
              </ng-container>
                
              <ng-container matColumnDef="header-row-fourth-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">
                    Rank
                </th>
              </ng-container>
    
              <ng-container matColumnDef="header-row-fifth-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">
                  Maintenance Type
                </th>
              </ng-container>
              <ng-container matColumnDef="header-row-sixth-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                  border-bottom: 1px solid #ddd;
                  text-align: center;">
                 Next Due Date
                </th>
              </ng-container>
              <ng-container matColumnDef="header-row-seventh-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
                 
                </th>
              </ng-container>
              <ng-container matColumnDef="header-row-eighth-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
              border-bottom: 1px solid #ddd;
              text-align: center;">
                  
                </th>
              </ng-container>
      
              <ng-container matColumnDef="header-row-eighth-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
              border-bottom: 1px solid #ddd;
              text-align: center;">
                 
                </th>
              </ng-container>
              <ng-container matColumnDef="header-row-ninth-group">
                <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
              border-bottom: 1px solid #ddd;
              text-align: center;">
                
                </th>
              </ng-container>
      
              <tr mat-header-row
                *matHeaderRowDef="['header-row-first-group','header-row-second-group','header-row-third-group',
                'header-row-fourth-group','header-row-fifth-group','header-row-sixth-group','header-row-seventh-group',
                'header-row-eighth-group', 'header-row-ninth-group']"
                style="height:32px">
              </tr>
      
      
      
              <tr *matHeaderRowDef="visibleColumns" mat-header-row style="height:32px"></tr>
              <tr *matRowDef="let row; columns: visibleColumns" class="clickable route-animations-elements" mat-row></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">No data found</td>
              </tr>
            </table>
          </div>
      
          <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"></mat-paginator>
          

    </div>

</fury-page-layout>


