<div class="crew-queries-view">

    <table style="width: 100%;">
        <tr>
            <td class="queries-td">
                <b>Crew Queries</b>
            </td>
        </tr>

        <tr>
            <td>

                <div class="actions-area" fxLayout="row" fxLayoutAlign="end center" style="padding: 0;">

                    <div style="width: 8%;">
                        <span style="cursor: pointer">
                            <button mat-mini-fab color="warn" class="add-sp-btn" [matTooltip]="'Remove Filter'">
                                <mat-icon class="add-sp-btn-icon">remove</mat-icon>&nbsp;&nbsp; <span
                                    style="color:#4b4870;">Clear Filters</span>
                            </button>

                        </span>
                    </div>

                    <!-- <div class="content-loader">
           <mat-progress-spinner
             mode="indeterminate"
             color="accent"
           ></mat-progress-spinner>
         </div> -->
                </div>

                <div #TABLE>
                    <table [dataSource]="dataSource" mat-table matSort #table class="details-table">
                        <ng-container matColumnDef="Raised_On">
                            <th *matHeaderCellDef class="actions-cell" [ngStyle]="{ 'white-space': 'initial' }"
                                mat-header-cell mat-sort-header>
                                Raised On
                            </th>
                            <!-- <td
                         *matCellDef="let row; let i = index"
                         class="actions-cell"
                         [ngStyle]="{ 'white-space': 'initial' }"
                         mat-cell
                       >
                         <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
                       </td> -->
                        </ng-container>

                        <ng-container matColumnDef="Staff_Code">
                            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                Staff Code
                            </th>
                            <!-- <td
                         *matCellDef="let row; let i = index"
                         class="actions-cell"
                         mat-cell
                       >
                         <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                       </td> -->
                        </ng-container>
                        <ng-container matColumnDef="Staff_Name">
                            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                Staff Name
                            </th>
                            <!-- <td
                           *matCellDef="let row; let i = index"
                           class="actions-cell"
                           mat-cell
                         >
                           <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                         </td> -->
                        </ng-container>
                        <ng-container matColumnDef="Vessel">
                            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                Vessel
                            </th>
                            <!-- <td
                         *matCellDef="let row; let i = index"
                         class="actions-cell"
                         mat-cell
                       >
                         <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                       </td> -->
                        </ng-container>
                        <ng-container matColumnDef="Details">
                            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                Details
                            </th>
                            <!-- <td
                           *matCellDef="let row; let i = index"
                           class="actions-cell"
                           mat-cell
                         >
                           <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                         </td> -->
                        </ng-container>
                        <ng-container matColumnDef="Type">
                            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                Type
                            </th>
                            <!-- <td
                           *matCellDef="let row; let i = index"
                           class="actions-cell"
                           mat-cell
                         >
                           <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                         </td> -->
                        </ng-container>
                        <ng-container matColumnDef="Status">
                            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                Status
                            </th>
                            <!-- <td
                           *matCellDef="let row; let i = index"
                           class="actions-cell"
                           mat-cell
                         >
                           <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                         </td> -->
                        </ng-container>

                        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: visibleColumns" class="clickable route-animations-elements"
                            mat-row>
                        </tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="9999">No data found</td>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
    </table>


</div>
