<fury-page-layout mode="card" class="ops-Fleet-Location">
        
    <h3>
        <span class="first-letter">F</span>LEET
        <span class="first-letter">L</span>OCATION
        <span class="first-letter">M</span>AP
        
    </h3>
    

    <fury-page-layout-content>

        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 30px;">
            
                <div fxFlex="34" >                       
                   
                   <button mat-raised-button  color="primary"
                                            style="background-color: #e1e1e1;  color: black;  border: 1px solid #e1e1e1;margin-right: 5px;margin-left: 5px;">
                                          HOME
                    </button>

                    <span>
                        Company :
                    </span><select class="classic" style="width: 45%"> 
                        <option >YML Jot Ship Management</option>
                        
                      </select>
                    <button mat-raised-button  color="primary"
                    style="        border-color: #ccc;
                    color: #333;
                    background-color: #f2f2f2; margin:6px">
                    Show All Vessels
                    </button>
										
                </div>
             
              

               

                
           
            <div fxFlex="30" style="padding-top: 10px;">                       
                <span style="    color: blue;
                text-align: center;
              
                font-size: initial;
                font-weight: 500;cursor: pointer;">Alerts & Vessel Positions displayed, are from within the last four days</span>
                
              

                </div>
                <div fxFlex="34" >                       
                   
                    <span style="margin-right: 10px ; color: blue;
                    text-align: center;
                  
                    font-size: initial;
                    font-weight: 500;cursor: pointer;">Show Legend</span><button mat-raised-button  color="primary"
                                            style="background-color: #e1e1e1;  color: black;  border: 1px solid #e1e1e1;margin-right: 5px;margin-left: 5px;">
                                           Hide Vessels
                    </button>
                    <button mat-raised-button  color="primary"
                    style="background-color: #e1e1e1; color: black;   border: 1px solid #e1e1e1;margin-right: 5px;">
                   Hide Alerts
                    </button>
                    <button mat-raised-button  color="primary"
                    style="    color: #fff;
                    background-color: #5bc0de;
                    border-color: #46b8da;">
                    Show Filters
                    </button>
										
                </div>

        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.06256817675!2d73.03256678616599!3d19.01696440787911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c2532fffffff%3A0x7608ccdf22095736!2seNix%20Software%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1696485957318!5m2!1sen!2sin" width="100%" height="900" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    </fury-page-layout-content>
</fury-page-layout>