<fury-page-layout mode="card" class="SignOff-view">

    <div>
        <div style="padding: 5px 150px 0px 150px;">

            <table style="width: 100%;">
                <tr>
                    <td>
                        <div style="text-align: center;font-weight: bold;height: 24px;vertical-align: middle;margin-top: 30px;margin-bottom: 30px;">
                            <h3>

                                <span class="SignOff-text">Sign Off - Alexa (USD)</span>

                            </h3>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form [formGroup]="SignOffFilterForm">

                            <div class="filter-area">

                                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap.gt-sm="70px">

                                    <div fxFlex>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Staff Code/Name</mat-label>
                                            <input type="text" formControlName="txtStaff_Code" matInput />
            
                                        </mat-form-field>

                                    </div>

                                    <div fxFlex>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Rank</mat-label>
                                            <mat-select formControlName="drpRank">
                                                <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                                       {{ b.PARAMETER_NAME }}
                                     </mat-option> -->
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div>

                                        <div>
                                            <button class="create" mat-raised-button color="primary" class="filter-btn">
                                                Search
                                            </button>
                                            <button class="create" mat-raised-button color="warn" class="filter-btn"
                                                type="button">
                                                Clear
                                            </button>
                                            <button class="create" mat-raised-button color="warn" class="filter-btn"
                                            type="button" (click)="AddFormData({}, 'Sign Off', 'Sign_Off')">
                                            Edit
                                        </button>
                                        </div>

                                    </div>

                                </div>
                            </div>


                        </form>
                    </td>
                </tr>

                <tr style="height: 40px;">
                    <td>
                        <div class="Onboard-text"> Onboard Seafarer </div>
                    </td>
                </tr>
        
                <tr>
                    <td>
        
                        <div #TABLE>
                            <table [dataSource]="OnboardSeafarerdataSource" mat-table matSort #table
                                class="details-table" style="border-radius: 10px;overflow: hidden !important;">
                                <ng-container matColumnDef="Staff_Code">
                                    <th *matHeaderCellDef class="actions-cell"
                                        [ngStyle]="{ 'white-space': 'initial' }" mat-header-cell mat-sort-header>
                                        Staff Code
                                    </th>
                                    <!-- <td
              *matCellDef="let row; let i = index"
              class="actions-cell"
              [ngStyle]="{ 'white-space': 'initial' }"
              mat-cell
            >
              <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
            </td> -->
                                </ng-container>
        
                                <ng-container matColumnDef="Staff_Name">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                       Staff Name
                                    </th>
                                    <!-- <td
              *matCellDef="let row; let i = index"
              class="actions-cell"
              mat-cell
            >
              <p class="tbl-row-item">{{ row.REF_NUM }}</p>
            </td> -->
                                </ng-container>
                                <ng-container matColumnDef="Rank">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                        Rank
                                    </th>
                                    <!-- <td
              *matCellDef="let row; let i = index"
              class="actions-cell"
              mat-cell
            >
              <p class="tbl-row-item">{{ row.REF_NUM }}</p>
            </td> -->
                                </ng-container>
                                <ng-container matColumnDef="Sign_On_Date">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                        Sign On Date
                                    </th>
                                    <!-- <td
                *matCellDef="let row; let i = index"
                class="actions-cell"
                mat-cell
              >
                <p class="tbl-row-item">{{ row.REF_NUM }}</p>
              </td> -->
                                </ng-container>
                                
                                <ng-container matColumnDef="Sign_Off_Date">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                        Sign Off Date
                                    </th>
                                    <!-- <td
                *matCellDef="let row; let i = index"
                class="actions-cell"
                mat-cell
              >
                <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
              </td> -->
                                </ng-container>
                    
                                <ng-container matColumnDef="Action">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                        
                                    </th>
                                    <!-- <td
                *matCellDef="let row; let i = index"
                class="actions-cell"
                mat-cell
              >
                <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
              </td> -->
                                </ng-container>
        
        
                                <tr *matHeaderRowDef="visibleColumnsOnboardSeafarer" mat-header-row style="height: 40px;"></tr>
                                <tr *matRowDef="let row; columns: visibleColumnsOnboardSeafarer"
                                    class="clickable route-animations-elements" mat-row>
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="9999">No data found</td>
                                </tr>
                            </table>
                        </div>
                        
        
        
                    </td>
                </tr>
        
                <tr style="height: 40px;">
                    <td>
                        <div class="Onboard-text"> Signed-Off Seafarer (Records can't be edited) </div>
                    </td>
                </tr>
        
                <tr>
                    <td>
        
                        <div #TABLE>
                            <table [dataSource]="Signed_OffSeafarerdataSource" mat-table matSort #table
                                class="details-table" style="border-radius: 10px;overflow: hidden !important;">
                                <ng-container matColumnDef="Staff_Code">
                                    <th *matHeaderCellDef class="actions-cell"
                                        [ngStyle]="{ 'white-space': 'initial' }" mat-header-cell mat-sort-header>
                                        Staff Code
                                    </th>
                                    <!-- <td
              *matCellDef="let row; let i = index"
              class="actions-cell"
              [ngStyle]="{ 'white-space': 'initial' }"
              mat-cell
            >
              <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
            </td> -->
                                </ng-container>
        
                                <ng-container matColumnDef="Staff_Name">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                       Staff Name
                                    </th>
                                    <!-- <td
              *matCellDef="let row; let i = index"
              class="actions-cell"
              mat-cell
            >
              <p class="tbl-row-item">{{ row.REF_NUM }}</p>
            </td> -->
                                </ng-container>
                                <ng-container matColumnDef="Rank">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                        Rank
                                    </th>
                                    <!-- <td
              *matCellDef="let row; let i = index"
              class="actions-cell"
              mat-cell
            >
              <p class="tbl-row-item">{{ row.REF_NUM }}</p>
            </td> -->
                                </ng-container>
                                <ng-container matColumnDef="Sign_On_Date">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                        Sign On Date
                                    </th>
                                    <!-- <td
                *matCellDef="let row; let i = index"
                class="actions-cell"
                mat-cell
              >
                <p class="tbl-row-item">{{ row.REF_NUM }}</p>
              </td> -->
                                </ng-container>
                                
                                <ng-container matColumnDef="Sign_Off_Date">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                        Sign Off Date
                                    </th>
                                    <!-- <td
                *matCellDef="let row; let i = index"
                class="actions-cell"
                mat-cell
              >
                <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
              </td> -->
                                </ng-container>
                    
                                <ng-container matColumnDef="Action">
                                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                                        
                                    </th>
                                    <!-- <td
                *matCellDef="let row; let i = index"
                class="actions-cell"
                mat-cell
              >
                <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
              </td> -->
                                </ng-container>
        
        
                                <tr *matHeaderRowDef="visibleColumnsSigned_OffSeafarer" mat-header-row style="height: 40px;"></tr>
                                <tr *matRowDef="let row; columns: visibleColumnsSigned_OffSeafarer"
                                    class="clickable route-animations-elements" mat-row>
                                </tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="9999">No data found</td>
                                </tr>
                            </table>
                        </div>
                    
                    </td>
                </tr>
           
            </table>

        </div>
    </div>

</fury-page-layout>