 .mat-mdc-dialog-container .mdc-dialog__title{
			color: #fff;
			background-color: black;
		  }
.logo {
    width: 20px;
    height: 20px;
}
.Attachment {
    // border: 1px solid gray;                           /// new added for attachment button
    height: 65px;
    text-align: left;
  
    padding-top: 20px;
    // padding-left: 15px;
    margin-bottom: 10px;
  }

  .upload-btn{
    width: 113px;
    height: 41px;
    background: gray;
    color: #fff;
    border-radius: 4px;
    border: none;
  }
  .upload-btn:hover {
    background-image:  linear-gradient(to top, #5a6971  ,#3c474e );;
    color: #fff;
  }
  .upload-btn1{
    width: 113px;
    height: 29px;
    background-color: #919191;
    color: #fff;
    // border: 1px solid #505050;
    border-radius: 4px;
  }

  
  .filter-btn {
    margin-right: 5px !important;
    width: 100px;
    margin-bottom: 6px !important;
  }
