// .mat-dialog-title{
// //     background-color: black;

// // } 
.logo {
    width: 20px;
    height: 20px;
}
.mat-mdc-dialog-container .mdc-dialog__title{
    color: #fff;
    background-color: black;
  }