
<fury-page-layout mode="card" class="crew-Queries">
 
    <fury-page-layout-header>
      
      <form [formGroup]="queriesFormGroup" >
        
          <h3 class="unit-packing">
            <span class="first-letter">C</span>REW
            <span class="first-letter">Q</span>UERIES
          </h3>
      
        
        <div class="filter-area">
          <div fxLayout="row" fxLayoutAlign="start">
  
            <div fxFlex>
              <mat-form-field appearance="fill">
                <mat-label>Raised On</mat-label>
                <input formControlName="txtRaised_On" matInput placeholder="Search by Raised On" type="text" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Staff Code</mat-label>
                <input formControlName="txtStaff_Code" matInput placeholder="Search by Staff Code" type="text" />
              </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field appearance="fill">
                  <mat-label>Staff Name</mat-label>
                  <input formControlName="txtStaff_Name" matInput placeholder="Search by Staff Name" type="text" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Vessel</mat-label>
                    <mat-select formControlName="drpVessel" >
                      <mat-option value="Select">SELECT</mat-option>
                      <mat-option value="Alexa">Alexa</mat-option>
                      <mat-option value="Alexandre">Alexandre</mat-option>
                      <mat-option value="Bryce">Bryce</mat-option>
                      <mat-option value="Charley">Charley</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <div fxFlex>
                <mat-form-field appearance="fill">
                    <mat-label>Rank</mat-label>
                    <mat-select formControlName="drpRank" >
                      <mat-option value="Master">MST-Master</mat-option>
                      <mat-option value="Trainee_Officer">MST-T - Trainee Master</mat-option>
                      <mat-option value="Chief_Officer">C/OFF - Chief Officer</mat-option>
                      <mat-option value="Officer">3/OFF - 3rd Officer</mat-option>
                      <mat-option value="Junior_Officer">J/OFF - Junior Officer</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="drpType" >
                      <mat-option value="SELECT">SELECT</mat-option>
                      <mat-option value="Certificate Bonus">Certificate Bonus</mat-option>
                      <mat-option value="Chief_Officer">Claims</mat-option>
                      <mat-option value="Officer">Contract Extension</mat-option>
                      <mat-option value="Junior_Officer">Crew Change</mat-option>
                    </mat-select>
                  </mat-form-field>

              </div>



  

            <div fxFlex>
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="drpStatus">
                  <mat-option value="">Pending</mat-option>
                  <mat-option value="1">Completed</mat-option>
                  
                </mat-select>
              </mat-form-field>
            </div>
  
            <div class="filter-btn-area" fxFlex>
              <div>
                <!-- <button style="background-color: #5cb85c;" mat-raised-button color="primary" class="filter-btn">
                  Search
                </button> -->
                <button
                mat-raised-button
                color="primary"
               style="background-color: #5cb85c;"
                class="filter-btn"
              
              >
                Search
              </button>
              </div>
  
              <div>
                <button class="create"   mat-raised-button color="warn" class="filter-btn"
                  type="button" (click)="clearFilter()">
                  Clear
                </button>
              </div>
            </div>
  
  
          </div>
        </div>
      </form>
    </fury-page-layout-header>
    <fury-page-layout-content [@fadeInUp] class="content-area">
      <div class="actions-area" >
      
        <div fxLayout="row">
          <!-- <button mat-mini-fab color="primary" [matTooltip]="'Add Category '"
              class="add-approve-btn save-btn" >
              <mat-icon class="add-approve-btn-icon">add</mat-icon>
          </button>
          <span style="margin-top: 3px;
          margin-left: 6px;font-size: 15px;"> Add New Category</span> -->
      </div>
      <div fxLayout="row">
        <button mat-mini-fab color="warn" class="add-sp-btn" [matTooltip]="'Remove Filter'">
            <mat-icon class="add-sp-btn-icon">remove</mat-icon>
        </button>
        <mat-card-title style="margin-left: 5px;margin-top: 3px;margin-right: 12px;font-size: medium;font-weight: bold; color: #686464;">Clear Filter</mat-card-title>
        <span>
            <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
            <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
            <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
          </span>
    </div>

             
      </div>
  
      <div #TABLE>
        <table [dataSource]="queriesdataSource" mat-table matSort #table class="details-table">
          
  
          <ng-container matColumnDef="Raised_On">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Raised On
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          <ng-container matColumnDef="Staff_Code">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Staff_Code
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          <ng-container matColumnDef="Staff_Name">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Staff Name
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          <ng-container matColumnDef="Vessel">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Vessel
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          <ng-container matColumnDef="Rank">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
        Rank
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          <ng-container matColumnDef="Details">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Details
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          <ng-container matColumnDef="Type">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
        Type
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
    
        
          <ng-container matColumnDef="Action">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
              Action
            </th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
              <!-- -->
              <button mat-icon-button color="primary">
                <mat-icon class="icon-display">edit</mat-icon>
              </button>
  
              <button mat-icon-button color="warn" >
                <mat-icon>close</mat-icon>
              </button>
              <button mat-icon-button  >
                <mat-icon class="icon-display">info</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr *matHeaderRowDef="queriesvisibleColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: queriesvisibleColumns" class="clickable route-animations-elements" mat-row></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">No data found</td>
          </tr>
        </table>
      </div>
      <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  
    </fury-page-layout-content>
  
  </fury-page-layout>

