<fury-page-layout mode="card" class="portcallchecklistsindex-view">

    <!-- search header for PURC_Catalogue -->
    <fury-page-layout-header>

        <!-- <div>  
              <h2>{{routeTitle}}</h2>
          </div> -->
        <h3>

            <span class="first-letter">P</span>ORT<span class="first-letter">C</span>ALL
            <span class="first-letter">C</span>HECKLISTS
            <span class="first-letter">I</span>NDEX

        </h3>

 <!-- commented Edit Checklist Details Module -->
        <!-- <button (click)="ChecklistDetails(null)">Edit checklist details</button> -->
<!--  -->

    </fury-page-layout-header>



    <fury-page-layout-content [@fadeInUp]>
        <div class="actions-area" fxLayout="row" fxLayoutAlign="end center">
            <div>
                <span style="cursor: pointer">
                    <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
                    <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
                    <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
                </span>
            </div>
            <!-- <div class="content-loader">
          <mat-progress-spinner
            mode="indeterminate"
            color="accent"
          ></mat-progress-spinner>
        </div> -->
        </div>


        <div #TABLE>
            <table [dataSource]="dataSource" mat-table matSort #table class="details-table">


                <ng-container matColumnDef="Closed_By">
                    <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;"> Closed By </th>

                </ng-container>

                <ng-container matColumnDef="Closed_Date">
                    <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;"> Date </th>

                </ng-container>
                <ng-container matColumnDef="Verified_By">
                    <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;"> Verified By </th>

                </ng-container>

                <ng-container matColumnDef="Verified_Date">
                    <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;"> Date </th>

                </ng-container>




                <ng-container matColumnDef="header-row-first-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
                        Vessel Name
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-second-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
                        Status
                    </th>
                </ng-container>

                <ng-container matColumnDef="header-row-third-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
                        Department
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-fourth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
                        Checklist Name
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-fifth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2" style="border-left: 1px solid #ddd;
              border-bottom: 1px solid #ddd;
              text-align: center;">
                        Staff Name
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-sixth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2" style="border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            text-align: center;">
                        Closed
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-seventh-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                        Verified
                    </th>
                </ng-container>

                <ng-container matColumnDef="header-row-eighth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                        Port Name
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-eighth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                        ETA
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-nineth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">

                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-tenth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">

                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-eleventh-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">

                    </th>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-second-group','header-row-third-group','header-row-fourth-group','header-row-fifth-group','header-row-sixth-group','header-row-seventh-group','header-row-eighth-group',
                'header-row-nineth-group','header-row-tenth-group','header-row-eleventh-group'
                ]" style="height:32px">
                </tr>



                <tr *matHeaderRowDef="visibleColumns" mat-header-row style="height:32px"></tr>
                <tr *matRowDef="let row; columns: visibleColumns" class="clickable route-animations-elements" mat-row>
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">No data found</td>
                </tr>
            </table>
        </div>

        <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"></mat-paginator>


    </fury-page-layout-content>



</fury-page-layout>