.mat-dialog-title {
    background-color: black;

}

.logo {
    width: 20px;
    height: 20px;
}
.add-approve-btn {
    height: 24px;
    width: 24px;
    align-items: center;
    display: flex;
  }
  
  .add-approve-btn-icon {
    font-size: 24px;
    align-self: center;
    margin-top: -1px;
    cursor: pointer;
  }