<fury-page-layout mode="card" class="crew-traits">

    <fury-page-layout-header>

        <form [formGroup]="crewTraitsFormGroup">

            <h3 class="unit-packing">
                <span class="first-letter">C</span>REW
                <span class="first-letter">F</span>IELDS
                <span class="first-letter">T</span>O
                <span class="first-letter">C</span>HECK
            </h3>


            <div class="filter-area">
                <div fxLayout="row" fxLayoutAlign="start">

                    <div fxFlex>
                        <mat-form-field appearance="fill">
                            <mat-label>Detail To Check</mat-label>
                            <input formControlName="txtDetail_Check" matInput placeholder="Search by Detail to check"
                                type="text" />
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="drpType">
                                <mat-option value="Date">Date</mat-option>
                                <mat-option value="Text">Text</mat-option>
                                <mat-option value="Number">Number</mat-option>
                                <mat-option value="Yes_No">Yes/No</mat-option>

                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div fxFlex>
                        <mat-form-field appearance="fill">
                            <mat-label>Unit</mat-label>
                            <mat-select formControlName="drpUnit">
                                <mat-option value="Month">Month</mat-option>
                                <mat-option value="Year">Year</mat-option>
                                <mat-option value="Ton">Ton</mat-option>
                                <mat-option value="Cubic_Meter">Cubic Meter</mat-option>
                                <mat-option value="TEU">TEU</mat-option>

                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="drpStatus">
                                <mat-option value="">Show Active</mat-option>
                                <mat-option value="1">Show Deleted</mat-option>
                                <mat-option value="0">Show All</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>





                    <div class="filter-btn-area" fxFlex>
                        <div>
                            <button mat-raised-button color="primary" style="background-color: #5cb85c;"
                                class="filter-btn">
                                Search
                            </button>
                        </div>

                        <div>
                            <button class="create" mat-raised-button color="warn" class="filter-btn" type="button"
                                (click)="clearFilter()">
                                Clear
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </form>
    </fury-page-layout-header>
    <fury-page-layout-content [@fadeInUp] class="content-area">
        <div class="actions-area">

            <div fxLayout="row">
                <button mat-mini-fab color="primary" [matTooltip]="'Add Fileds To Check'"
                    class="add-approve-btn save-btn"  (click)="saveFields(null,false)">
                    <mat-icon class="add-approve-btn-icon">add</mat-icon>
                </button>
                <span style="margin-top: 3px;
          margin-left: 6px;font-size: 15px;"> Add Fields to check</span>
            </div>
            <div>
                <!-- <span style="margin: 5px;" (click)="SortCertificates(null, false)">Sort Certificates</span> -->
                <span>
                    <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
                    <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
                    <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
                </span>
            </div>

        </div>

        <div #TABLE>
            <table [dataSource]="crewTraitsdataSource" mat-table matSort #table class="details-table">
                <ng-container matColumnDef="Detail_To_Check">
                    <th *matHeaderCellDef class="actions-cell" [ngStyle]="{ 'white-space': 'initial' }" mat-header-cell
                        mat-sort-header>
                        Detail To Check
                    </th>
                    <td *matCellDef="let row; let i = index" class="actions-cell"
                        [ngStyle]="{ 'white-space': 'initial' }" mat-cell>
                        <!-- <p class="tbl-row-item">{{row.txtUnit_Name}}</p> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="Type">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Type
                    </th>
                    <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
                        <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="Unit">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Unit
                    </th>
                    <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
                        <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
                    </td>
                </ng-container>

                <ng-container matColumnDef="Show_In_Profile">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Show In Profile
                    </th>
                    <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
                        <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="Remarks">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Remarks
                    </th>
                    <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
                        <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
                    </td>
                </ng-container>


                <ng-container matColumnDef="Action">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Action
                    </th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <!-- -->
                        <button mat-icon-button color="primary">
                            <mat-icon class="icon-display">edit</mat-icon>
                        </button>

                        <button mat-icon-button color="warn">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon class="icon-display">info</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="crewTraitsvisibleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: crewTraitsvisibleColumns" class="clickable route-animations-elements"
                    mat-row></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">No data found</td>
                </tr>
            </table>
        </div>
        <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

    </fury-page-layout-content>

</fury-page-layout>