@import url('https://cdn.quilljs.com/1.2.6/quill.snow.css'); 
.mat-mdc-dialog-container .mdc-dialog__title{
    color: #fff;
    background-color: black;
  }

.logo {
    width: 20px;
    height: 20px;
}
	
.upload-btn{
    border-radius: 5px;
  }
  .drop-container-attach {
  
    border: 5px solid #a7a5a5;
    position: relative;
    margin-top: 13px;
    margin-bottom: 20px;
    height: 50px;
    background-color: #357A2B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: tahoma;
  }
  .add-approve-btn {
    height: 24px;
    width: 24px;
    align-items: center;
    display: flex;
}

.add-approve-btn-icon {
    font-size: 24px;
    align-self: center;
    margin-top: -1px;
    cursor: pointer;
}
.add-sp-btn {
  height: 20px;
  width: 20px;
  align-items: center; 
  display: flex;
  margin-right: 10px;
 
}

.add-sp-btn-icon {
  font-size: 22px;
  align-self: center;
  margin: -2px;

}
