<div div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center" class="dialog-title">
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;" />
        Edit Spare Part Item
    </span>
    <button type="button" mat-icon-button (click)="CloseModal();">
        <mat-icon>close</mat-icon>
      </button>
</div>

<mat-dialog-content>

    <table style="width: 100%;background-color: #C0D3E1;margin-bottom: 10px;font-family: tahoma;
    color: #000;">
        <tr>
            <div style="
        height: 40px;
        margin-top: 13px;">
                <td style="width: 10%;text-align: right;">Vessel</td>
                <td style="width:2%;text-align: center;">:</td>
                <td>Alexandre</td>
                <td style="width: 1%;text-align: right;">Machinery</td>
                <td style="width:2%;text-align: center;">:</td>
                <td>ABC</td>
            </div>
        </tr>
    </table>

    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="20">
            <table style="border: 1px solid grey;
border-radius: 4px;width: 100%;border-collapse: collapse;">

                <tr>
                    <td style="border: 1px solid grey;padding: 3px 9px 3px 9px;
        background-color: #dfdfdf;color: #000; font-weight: bold; font-family: tahoma;
        ">SubComponent</td>
                </tr>
                <tr>
                    <td style="padding: 3px 9px 3px 9px;">9461 - GENERAL</td>
                </tr>
                <tr>
                    <td style="padding: 3px 9px 3px 9px;">OFF - OFFICE</td>
                </tr>

            </table>
        </div>

        <div fxFlex="45">

            <table style="width: 100%;border: 1px solid grey;border-collapse: collapse;">
                <tr>
                    <table style="width: 100%;
          
            text-align: center;
            font-family: tahoma;border-collapse: collapse;">
                        <tr style="background-color: #1F497D;  color: White;">
                            <td style="text-align: center;">Item Description</td>
                            <td style="text-align: center;"><button mat-raised-button color="primary" class="save-btn">
                                    Assign All
                                </button></td>/;''.

                        </tr>
                        <tr>
                            <td style="padding: 11px;">Machin spare part</td>
                            <td  style="padding: 11px;">
                                <span>
                                    <img src="../../../../assets/img/go_next_blue.png" class="logo" alt="excel" style="margin-right: 10px;
                        margin-bottom: -4px;" />
                                </span>
                            </td>
                        </tr>
                    </table>
                </tr>

            </table>

        </div>

        <div fxFlex="45">

            <table style="width: 100%;border: 1px solid grey;border-collapse: collapse;">
                <tr>
                    <table style="width: 100%;
           
            text-align: center;
            font-family: tahoma;border-collapse: collapse;">
                        <tr style="background-color: #1F497D; color: White;">

                            <td style="text-align: center;"><button mat-raised-button color="primary" class="save-btn">
                                    UnAssign All
                                </button></td>
                            <td style="text-align: center;">Item Description</td>
                        </tr>

                        <tr>
                            <td  style="padding: 11px;">
                                <span>
                                    <img src="../../../../assets/img/go_back_blue.png" class="logo" alt="excel" style="margin-right: 10px;
                            margin-bottom: -4px;" />
                                    
                                </span>
                            </td>
                            <td  style="padding: 11px;">sack</td>

                        </tr>
                    </table>
                </tr>


            </table>

        </div>
    </div>
</mat-dialog-content>