<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row" fxLayoutAlign="space-between" >
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;"/>Copy PB Victualling
    </span>
  
    <span fxLayoutAlign="end"  >
        <mat-icon (click)="CloseModal()">close</mat-icon>
      </span>
  </div>
  <div>
    <mat-dialog-content>

    
    <form [formGroup]="CopyPBVictuallingFormGroup">
      <div mat-dialog-container style="padding-top: 20px;">
        
        <div fxLayout="column" fxLayout.gt-sm="row">
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Copy Job From Vessel</mat-label>
            <mat-select formControlName="drpCopy_Job_From">
                <mat-option value="SELECT_All">SELECT All</mat-option>
                <mat-option value="Bryce">Bryce</mat-option>
                <mat-option value="Catalan_Sea">Catalan Sea</mat-option>
                <mat-option value="Napoleon">Napoleon</mat-option>
                <mat-option value="Yami">Yami</mat-option>
            
            </mat-select>
          </mat-form-field>
        </div>
        

        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Copy Job To Vessel</mat-label>
              <mat-select formControlName="drpCopy_Job_To">
                <mat-option value="Alexandre">Alexandre</mat-option>
                <mat-option value="Bryce">Bryce</mat-option>
                <mat-option value="Catalan_Sea">Catalan Sea</mat-option>
                <mat-option value="Napoleon">Napoleon</mat-option>
                <mat-option value="Yami">Yami</mat-option>
            </mat-select>
            </mat-form-field>
          </div>
         
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" style="margin-bottom: 5px;">

    <button mat-raised-button color="primary" class="save-btn">
        Save
    </button>
    
    <button mat-raised-button color="warn" (click)="CloseModal()">Cancel</button>
</mat-dialog-actions>
  </div>