<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row" fxLayoutAlign="space-between" >
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;"/>View Alerts
    </span>
   
    <span fxLayoutAlign="end"  >
        <mat-icon (click)="CloseModal()">close</mat-icon>
      </span>
  </div>

  <div>
    
       
            <div fxLayout="row">
                <div fxFlex="50">
                    <table style="margin-top: 20px;">
                        <thead>
                            <th>
                                Testing security alerts
                            </th>
                        </thead>
                                
                           
                              
                     
                        <tbody>
                            <tr >
                                <td style="padding-top: 20px;">Testing</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div fxFlex="50">

                    <table style="margin-top: 40px;">
                        <tbody>
                            <tr>
                                <td style="    width: 50%;
                                left: 10px;
                                font-weight: bold;">Ref Number</td>
                                <td>:</td>
                                <td>ref 16/jan/2023</td>
                            </tr>

                            <tr>
                                <td style="    width: 50%;
                                left: 10px;
                                font-weight: bold;">Date</td>
                                <td>:</td>
                                <td style="border: 1px soild lightgray;">26/jan/2023</td>
                            </tr>

                            
                            <tr>
                                <td style="    width: 50%;
                                left: 10px;
                                font-weight: bold;">Location</td>
                                <td>:</td>
                                <td style="border: 1px soild lightgray;">6798</td>
                            </tr>

                            
                            <tr>
                                <td style="    width: 50%;
                                left: 10px;
                                font-weight: bold;">Latitude</td>
                                <td>:</td>
                                <td style="border: 1px soild lightgray;">2 3'4'' N</td>
                            </tr>

                            
                            <tr>
                                <td style="    width: 50%;
                                left: 10px;
                                font-weight: bold;">Longitude</td>
                                <td>:</td>
                                <td style="border: 1px soild lightgray;">65 3' 4'' w</td>
                            </tr>

                            
                            <tr>
                                <td style="    width: 50%;
                                left: 10px;
                                font-weight: bold;">Category</td>
                                <td>:</td>
                                <td style="border: 1px soild lightgray;">Caution</td>
                            </tr>

                            
                            <tr>
                                <td style="    width: 50%;
                                left: 10px;
                                font-weight: bold;">Aggressor</td>
                                <td>:</td>
                                <td style="border: 1px soild lightgray;">Dr</td>
                            </tr>

                            
                            <tr>
                                <td style="    width: 50%;
                                left: 10px;
                                font-weight: bold;">Source</td>
                                <td>:</td>
                                <td style="border: 1px soild lightgray;">yuio</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>
      
       
    
  </div>