<div mat-dialog-title>
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;"/>
    </span>
   Question History</div>

   <mat-dialog-content style="height: 100% !important" class="question-history-view">

            <div #TABLE>
                <table
                  [dataSource]="dataSource"
                  mat-table
                  matSort
                  #table
                  class="details-table"
                >
                  <ng-container matColumnDef="Vessel_Name">
                    <th
                      *matHeaderCellDef
                      class="actions-cell"
                      mat-header-cell
                     
                    >
                    Vessel Name
                    </th>
                    <!-- <td
                      *matCellDef="let row; let i = index"
                      class="actions-cell"
                      [ngStyle]="{ 'white-space': 'initial' }"
                      mat-cell
                    >
                      <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
                    </td> -->
                  </ng-container>
          
                  <ng-container matColumnDef="Question">
                    <th
                      *matHeaderCellDef
                      class="actions-cell"
                      mat-header-cell
                     
                    >
                    Question
                    </th>
                    <!-- <td
                      *matCellDef="let row; let i = index"
                      class="actions-cell"
                      mat-cell
                    >
                      <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                    </td> -->
                  </ng-container>
                  <ng-container matColumnDef="Type">
                      <th
                        *matHeaderCellDef
                        class="actions-cell"
                        mat-header-cell
                       
                      >
                      Type
                      </th>
                      <!-- <td
                        *matCellDef="let row; let i = index"
                        class="actions-cell"
                        mat-cell
                      >
                        <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                      </td> -->
                    </ng-container>
                    <ng-container matColumnDef="Answer">
                        <th
                          *matHeaderCellDef
                          class="actions-cell"
                          mat-header-cell
                          
                        >
                        Answer
                        </th>
                        <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                      </ng-container>

                      <ng-container matColumnDef="NA">
                        <th
                          *matHeaderCellDef
                          class="actions-cell"
                          mat-header-cell
                         
                        >
                        NA
                        </th>
                        <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                      </ng-container> <ng-container matColumnDef="Verify">
                        <th
                          *matHeaderCellDef
                          class="actions-cell"
                          mat-header-cell
                         
                        >
                        Verify
                        </th>
                        <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                      </ng-container>
                      <ng-container matColumnDef="Verified_By">
                        <th
                          *matHeaderCellDef
                          class="actions-cell"
                          mat-header-cell
                          
                        >
                        Verified By
                        </th>
                        <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                      </ng-container>
                      <ng-container matColumnDef="Verified_On">
                        <th
                          *matHeaderCellDef
                          class="actions-cell"
                          mat-header-cell
                         
                        >
                        Verified On
                        </th>
                        <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                      </ng-container>
                      <ng-container matColumnDef="Last_Modified_By">
                        <th
                          *matHeaderCellDef
                          class="actions-cell"
                          mat-header-cell
                         
                        >
                        Last Modified By
                        </th>
                        <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                      </ng-container>
                      <ng-container matColumnDef="Last_Modified_On">
                        <th
                          *matHeaderCellDef
                          class="actions-cell"
                          mat-header-cell
                          
                        >
                        Last Modified On
                        </th>
                        <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                      </ng-container>

         
                  <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                  <tr
                    *matRowDef="let row; columns: visibleColumns"
                    class="clickable route-animations-elements"
                    mat-row
                  ></tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">No data found</td>
                  </tr>
                </table>
              </div>
          
               <mat-paginator
                class="paginator"
                [pageSizeOptions]="[10, 25, 50, 100]"
                [pageSize]="pageSize"
              ></mat-paginator>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="warn" (click)="CloseModal()">Cancel</button>
</mat-dialog-actions>
                        

