<fury-page-layout mode="card" class="Generate_SalarySlip-view">

    <div>

        <table style="width: 100%;">
            <tr>
                <td style="width: 25%;">

                </td>
                <td style="width: 50%;">
                    <div>
                        <table style="width:100%">
                            <tr>
                                <td class="heading-td">
                                    <h3 class="heading-style">Below are the list of staffs for which salary slip is
                                        generated and sent.</h3>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table class="Salary-slip-table">

                                        <tr class="Salary-slip-tr">
                                            <td class="Salary-slip-td1">10064</td>
                                            <td class="Salary-slip-td2">Krishna Kumar</td>
                                            <td class="Salary-slip-td3">CRW_YML Cosmos_10064_042022_84.pdf</td>
                                        </tr>
                                        <tr class="Salary-slip-tr">
                                            <td class="Salary-slip-td1">10051</td>
                                            <td class="Salary-slip-td2">Namitt KUMAR</td>
                                            <td class="Salary-slip-td3">CRW_YML Cosmos_10051_042022_377.pdf</td>
                                        </tr>
                                        <tr class="Salary-slip-tr">
                                            <td class="Salary-slip-td1">10106</td>
                                            <td class="Salary-slip-td2">Steve Austin</td>
                                            <td class="Salary-slip-td3">CRW_YML Cosmos_10106_042022_352.pdf</td>
                                        </tr>
                                        <tr class="Salary-slip-tr">
                                            <td class="Salary-slip-td1">10064</td>
                                            <td class="Salary-slip-td2">Krishna Kumar</td>
                                            <td class="Salary-slip-td3">CRW_YML Cosmos_10064_042022_84.pdf</td>
                                        </tr>
                                        <tr class="Salary-slip-tr">
                                            <td class="Salary-slip-td1">10051</td>
                                            <td class="Salary-slip-td2">Namitt KUMAR</td>
                                            <td class="Salary-slip-td3">CRW_YML Cosmos_10051_042022_377.pdf</td>
                                        </tr>
                                        <tr class="Salary-slip-tr">
                                            <td class="Salary-slip-td1">10106</td>
                                            <td class="Salary-slip-td2">Steve Austin</td>
                                            <td class="Salary-slip-td3">CRW_YML Cosmos_10106_042022_352.pdf</td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>

                        </table>
                    </div>

                </td>
                <td style="width: 25%;">

                </td>
            </tr>
        </table>


    </div>

</fury-page-layout>