<fury-page-layout mode="card" class="vessel-threshold-view">

    <!-- search header for PURC_Catalogue -->
    <fury-page-layout-header>

        <form [formGroup]="VesselThresholdFilterForm">
            <!-- <div>  
            <h2>{{routeTitle}}</h2>
        </div> -->
            <h3>

                <span class="first-letter">V</span>ESSEL
                <span class="first-letter">T</span>HRESHOLD
                <span class="first-letter">I</span>NDEX

            </h3>
          
        </form>
    </fury-page-layout-header>



    <fury-page-layout-content [@fadeInUp]>
        <div class="actions-area">
            <table style="display: flex;">
                <tr>
                    <td>
                        <div fxLayout="row">
                            <button mat-mini-fab color="primary" [matTooltip]="'Add item'"
                                class="add-approve-btn save-btn" (click)="AddNewThreshold(null,'Add New Threshold')">
                                <mat-icon class="add-approve-btn-icon">add</mat-icon>
                            </button>
                            <span style="margin-top: 3px;
                            margin-left: 6px;font-size: 15px;">Add New Threshold</span>
                        </div>
                    </td>
                </tr>


            </table>


            <div>
                <span style="cursor: pointer">
                    <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
                    <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
                    <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
                </span>
            </div>
            <!-- <div class="content-loader">
            <mat-progress-spinner
              mode="indeterminate"
              color="accent"
            ></mat-progress-spinner>
          </div> -->
        </div>

        <div #TABLE>
            <table [dataSource]="dataSource" mat-table matSort #table class="details-table">
                <ng-container matColumnDef="Vessel_Name">
                    <th *matHeaderCellDef class="actions-cell" [ngStyle]="{ 'white-space': 'initial' }" mat-header-cell
                        mat-sort-header>
                        Vessel Name
                    </th>
                    <!-- <td
                  *matCellDef="let row; let i = index"
                  class="actions-cell"
                  [ngStyle]="{ 'white-space': 'initial' }"
                  mat-cell
                >
                  <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
                </td> -->
                </ng-container>

                <ng-container matColumnDef="Threshold_Type">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Threshold Type
                    </th>
                    <!-- <td
                  *matCellDef="let row; let i = index"
                  class="actions-cell"
                  mat-cell
                >
                  <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                </td> -->
                </ng-container>
                <ng-container matColumnDef="State">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        State
                    </th>
                    <!-- <td
                    *matCellDef="let row; let i = index"
                    class="actions-cell"
                    mat-cell
                  >
                    <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                  </td> -->
                </ng-container>
                <ng-container matColumnDef="Speed_Upper_Limit">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Speed Upper-Limit (Max)
                    </th>
                    <!-- <td
                  *matCellDef="let row; let i = index"
                  class="actions-cell"
                  mat-cell
                >
                  <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                </td> -->
                </ng-container>
                <ng-container matColumnDef="Min_Value">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Min Value (In MT Or Ltrs)
                    </th>
                    <!-- <td
                    *matCellDef="let row; let i = index"
                    class="actions-cell"
                    mat-cell
                  >
                    <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                  </td> -->
                </ng-container>
                <ng-container matColumnDef="Max_Value">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Max Value (In MT Or Ltrs)
                    </th>
                    <!-- <td
                    *matCellDef="let row; let i = index"
                    class="actions-cell"
                    mat-cell
                  >
                    <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                  </td> -->
                </ng-container>
                <ng-container matColumnDef="Status">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                        Status
                    </th>
                    <!-- <td
                    *matCellDef="let row; let i = index"
                    class="actions-cell"
                    mat-cell
                  >
                    <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                  </td> -->
                </ng-container>
                <ng-container matColumnDef="Info">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                       
                    </th>
                    <!-- <td
                    *matCellDef="let row; let i = index"
                    class="actions-cell"
                    mat-cell
                  >
                    <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                  </td> -->
                </ng-container>
              

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: visibleColumns" class="clickable route-animations-elements" mat-row>
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">No data found</td>
                </tr>
            </table>
        </div>

        <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"></mat-paginator>

    </fury-page-layout-content>

</fury-page-layout>
