<div mat-dialog-title>
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;" />
    </span>
    {{modeltitle}}
</div>

<mat-dialog-content>

    <div class="view_and_verify-view">

        <table style="width: 100%;">
       
           <tr>
    
            <td>
                <table style="width: 100%;">
                    <tr>
                       
                        <td style="vertical-align: top;">
                        <table style="width: 100%;">
                          <tr style="height: 30px;">
                            <td class="pay-td">Staff</td>
                            <td class="pay-td">:</td>
                            <td class="pay-td-bold">10417 - MST - Santosh Rao</td>
                            
                            <td colspan="3"></td>
                            <td style="text-align: end;color: red;font-family: tahoma;font-weight: bold;">Apr - 2023</td>
                           </tr>
    
                           <tr style="height: 30px;">
                            <td class="pay-td">Joining Date</td>
                            <td class="pay-td">:</td>
                            <td class="pay-td">2023-03-30</td>
                            <td style="width:1%"></td>
                            <td class="pay-td">DOAH Date</td>
                            <td class="pay-td" style="width:1%">:</td>
                            <td style="width:33%"></td>
                           </tr>
                           <tr style="height: 30px;">
                            <td class="pay-td" style="width:16%">Sign On Date</td>
                            <td class="pay-td" style="width:1%">:</td>
                            <td class="pay-td" style="width:35%">2023-03-30</td>
                            <td style="width:1%"></td>
                            <td style="width:13%">Sign Off Date</td>
                            <td class="pay-td" style="width:1%">:</td>
                            <td style="width:33%"></td>
                           </tr>
                           <tr style="height: 30px;">
                            <td class="pay-td" style="width:16%">Sign On Port</td>
                            <td class="pay-td" style="width:1%">:</td>
                            <td class="pay-td" style="width:35%">Kochi (Cochin)</td>
                            <td style="width:1%"></td>
                            <td style="width:13%">Sign Off Port</td>
                            <td class="pay-td" style="width:1%">:</td>
                            <td style="width:33%"></td>
                           </tr>
                           <tr style="height: 30px;">
                            <td class="pay-td" style="width:16%">Expected Rejoining</td>
                            <td class="pay-td" style="width:1%">:</td>
                            <td class="pay-td" style="width:35%">01/Jan/2023</td>
                            <td style="width:1%"></td>
                            <td style="width:13%">Sign Off Reason</td>
                            <td class="pay-td" style="width:1%">:</td>
                            <td style="width:33%"></td>
                           </tr>

                           <tr style="height: 30px;">
                            <td colspan="4" class="bankdetail-title">See Bank Detail</td>
                           </tr>
    
                           <tr>
                            <td colspan="7">
                                <table style=width:100%>
                                <tr>
                                    <td style="width:50%;vertical-align: top;">
                                        <table class="roundedTable">
                                            <thead>
                                                <tr>
                                                    <th style=" background-color: #1f497d;
                                                   color: #FFF;
                                                   padding: 6px;font-family: tahoma;border-bottom: 1px solid #fff;" colspan="2">Earning</th>
                                                  
                                                </tr>
                                                <tr>
                                                    <th style=" background-color: #1f497d;
                                                   color: #FFF;
                                                   padding: 6px;font-family: tahoma;border-right: 1px solid #fff;">Components</th>
                                                    <th style=" background-color: #1f497d;
                                                   color: #FFF;
                                                   padding: 6px;font-family: tahoma;">Amounts</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Opening Balance</td>
                                                    <td>0.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Opening Balance</td>
                                                    <td>5,000.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Basic wages</td>
                                                    <td>-533.33</td>
                                                </tr>
                                                <tr>
                                                    <td>Leave Wages</td>
                                                    <td>-266.67</td>
                                                </tr>
                                                <tr>
                                                    <td>Office Instruction</td>
                                                    <td>0.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                
        
                                    </td>

                                    <td style="width:50%;vertical-align: top;">
                                    <div>
                                        <table class="roundedTable">
                                            <thead>
                                                <tr>
                                                    <th style=" background-color: tomato;
                                                   color: #FFF;
                                                   padding: 6px;font-family: tahoma;border-bottom: 1px solid #fff;" colspan="2">Deduction</th>
                                                  
                                                </tr>
                                                <tr>
                                                    <th style=" background-color: tomato;
                                                   color: #FFF;
                                                   padding: 6px;font-family: tahoma;border-right: 1px solid #fff;">Components</th>
                                                    <th style=" background-color: tomato;
                                                   color: #FFF;
                                                   padding: 6px;font-family: tahoma;">Amounts</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Allotment</td>
                                                    <td>500.00</td>
                                                </tr>
                                                <tr>
                                                    <td>Cash Advance</td>
                                                    <td>5,000.00</td>
                                                </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
        
                                    </td>
                                </tr>
                                </table>
                            </td>
                           
                           
                            
                           </tr>
                           
                        </table>
                        </td>
                    </tr>
                </table>
            </td>
           </tr>
           
        </table>
       
       
       </div>
       
</mat-dialog-content>
<mat-dialog-actions  fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" class="save-btn">
    Verify & Open Next
  </button>
 
    <button mat-raised-button color="warn" (click)="CloseModal()">CLOSE</button>
    </mat-dialog-actions>