<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row" fxLayoutAlign="space-between" >
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;"/>Add New Cadet Log Category
    </span>
   
    <span fxLayoutAlign="end"  >
        <mat-icon (click)="CloseModal()">close</mat-icon>
      </span>
  </div>
  <div>
    <form [formGroup]="newCadetLogCategoryFormGroup">
      <div mat-dialog-container style="padding-top: 20px;">
        
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Chapter</mat-label>
              <mat-select formControlName="drpChapter">
                <mat-option value="Select_All">SELECT All</mat-option>
                <mat-option value="Week_One">Week 1</mat-option>
                <mat-option value="Week_Two">Week 2</mat-option>
                <mat-option value="Week_Three">Week 3</mat-option>
                <mat-option value="Week_Four">Week 4</mat-option>
                <mat-option value="Week_Five">Week 5</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Category Name</mat-label>
              <textarea
                matInput
                formControlName="txtCategory_Name"
                placeholder="Category Name"
              ></textarea>
            </mat-form-field>
        </div>

        
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
                <mat-label>Category No.</mat-label>
                <input formControlName="txtCategory_No" matInput placeholder="Search by Category No" type="text" />
              </mat-form-field>
          </div>
      
      
        
      </div>
    </form>
  
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" style="margin-bottom: 5px;">
  
        <button mat-raised-button color="primary" class="save-btn">
            Save & Close
          </button>
          <button mat-raised-button class="save-btn" color="primary">
            Save & Add New
          </button>
      
          <button mat-raised-button color="warn" (click)="CloseModal()">Cancel</button>
    </mat-dialog-actions>
  </div>