.logo {
    width: 20px;
    height: 20px;
  }
  .add-sp-btn {
    height: 24px;
    width: 24px;
    align-items: center;
    display: flex;
  }

  .add-sp-btn-icon {
    font-size: 24px;
    align-self: center;
    margin-top: -1px;
  }
  .sfi-name{
    font-family: tahoma;
    font-weight: bold;
    font-size: 14px;
    color: #2d2d2d;
}
   .mat-tree-node { 
    min-height: 30px 
}

      .save-btn1 {
        margin-right: 15px;
      }
  
      .mat-tab-header {
        // background: #e4e4e4;
        // color: #fff;
        border-left: 1px solid #918f8f;
        border-top: 1px solid #918f8f;
        border-bottom: 1px solid #918f8f;
        border-right: 1px solid #918f8f;
        color: White !important;
        background-color: #386a7b !important;
        text-align: center !important;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
         opacity: 1;
        // height: 35px;
      }
  
      .mat-tab-label {
        // min-width: 25px !important;
        // padding: 5px;
        // background-color: #7e8f99;
  
        color: #fff;
        font-family: Tahoma !important;
        // font-weight: 700;
      }
  
      // .mat-tab-label .mat-tab-label-content {
      //   margin-bottom: 12px;
  
      // }        
      /* Styles for the active tab label */
      .mat-tab-label.mat-tab-label-active {
        background: orange;
        color: #000;
        font-family: Tahoma !important;
        // border-left: 1px solid #918f8f;
        // border-top: 1px solid #918f8f;
  
        opacity: 1;
      }
      .mat-tab-label.mat-tab-label {
        opacity: 1;
      }
      
      .remove-border-bottom .mat-tab-header {
        border-bottom: none;
      }
  
      .mat-tab-group[mat-stretch-tabs]>.mat-tab-header .mat-tab-label {
        border-left: 1px solid #8b8b8b;
        border-bottom: 1px solid #8b8b8b;
  
  
      }
  
    //   .mat-tab-body.mat-tab-body-active {
    //     // background-color: #CCFFFF;
    //     // background-color: #e5ffff;
  
    //   }
  
      /* Styles for the ink bar */
    //   .mat-ink-bar {
    //     background-color: #fff !important;
    //     ;
    //   }
  
      .mat-form-field-wrapper {
        // margin-right: 5px !important;
        padding-bottom: 0px;
      }
  
      .mat-form-field {
        margin-bottom: 25px;
        width: 100%;
      }
  
      .mat-form-field-subscript-wrapper {
        top: 41px;
      }
  
      .mat-form-field-flex {
        align-items: flex-start !important;
      }
  
      .mat-form-field-infix {
        border-top: 0.84375em solid transparent;
      }
  
      .mat-form-field-underline {
        bottom: 0 !important;
      }
  
      .actions-area {
        background: #fff;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
  
      .add-approve-btn {
        height: 24px;
        width: 24px;
        align-items: center;
        display: flex;
      }
  
      .add-approve-btn-icon {
        font-size: 24px;
        align-self: center;
        margin-top: -1px;
      }
  
      table.mat-table {
        width: 100%;
      }
  
      p.tbl-row-item {
        font-size: 12px;
        margin-top: 10px;
        // margin-bottom: 10px;
        padding: 0px 5px;
      }
  
      tr.mat-header-row {
        height: 56px;
        background-color: #1976d2;
      }
  
      th.mat-header-cell {
        text-align: left;
        color: white;
  
      }
  
      .content-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
      th.mat-header-cell:last-of-type,
      td.mat-cell:last-of-type,
      td.mat-footer-cell:last-of-type {
        padding-right: 10px;
        // min-width: 100px;  commented this on 18-08-23
      }
  
      th.mat-header-cell:first-of-type,
      td.mat-cell:first-of-type,
      td.mat-footer-cell:first-of-type {
        padding-left: 10px;
      }
  
      .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 4px 4px 0 0;
        // padding: 5px 8px 0;
      }
  
      .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0.05em 0 0.75em;
      }
  
      .logo {
        height: 30px;
        width: 30px;
        margin-top: 5px;
      }
  
      .logoinvite {
        height: 26px;
        width: 26px;
        margin-top: 5px;
      }
  
      td.mat-cell.cdk-cell.actions-cell.cdk-column-Remarks.mat-column-Remarks.ng-star-inserted {
        max-width: 100px;
        word-break: break-word;
      }
  
      .copy-store-po-btn {
        color: Black;
        background-color: #CCFFFF;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        border-color: #2e6da4;
        font-weight: bold;
      }
  
      .first-row {
        list-style: none;
        width: 16%;
        height: 144px;
        overflow: scroll;
        border: 1px solid #ccc;
        background: #fff;
      }
  
      ul {
        list-style: none;
      }
  
      li {
        line-height: 2;
      }
  
      .continue-btn {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
      }
  
      .continue-btn:hover {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
      }
  
      .warning-btn {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
      }
  
      .warning-btn:hover {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
      }
  
      .summary-td {
        text-align: right;
        font-family: tahoma !important;
        font-weight: bold;
        font-size: 13px;
      }
      .list-group{
        list-style: none;
        // height: 400px;         
      }
      .div-border{
        border: 1px solid #ccc;
        overflow: scroll;
        height: 400px;
      }
      .upload-btn{
        width: 113px;
      height: 29px;
      border-radius: 4px;
      border-color: #9ebfdb;
      color: #3e69a3;
      background-color: #d6e6f4;
      font-family: Tahoma !important;
      }

      .mat-icon-rtl-mirror{
        background-color: gray;      // new added fot expand button
        color: white;
        
      }
  
    
  
  