fury-crew-additional-traits {

   
        .table-th{
            color: White;
            background-color: #1F497D;
            font-family: Tahoma;
            font-size: 13px;
            height: 45px;
            text-align: left;      
    }
    .table-td{
        font-family: Tahoma;
            font-size: 13px;
            height: 45px;
            text-align: left;     
            border: 1px solid lightgrey;

    }
    .additional-traits-textarea{
        width: 67%;
        height: 25px;
    }
      // radiobtn

      .active-label {
        color: #009688;
        /* Change this to your desired highlight color */
        font-weight: 500;
    }

    // 
   
}