<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row" fxLayoutAlign="space-between" >
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;"/>Add New Signoff Reason
    </span>
   
    <span fxLayoutAlign="end"  >
        <mat-icon (click)="CloseModal()">close</mat-icon>
      </span>
  </div>
  <div>
    <form [formGroup]="crewTrainingFormGroup">
      <div mat-dialog-container style="padding-top: 20px;">

        <div fxLayout="column" fxLayout.gt-sm="row"> 
                  <mat-form-field fxFlex appearance="fill">
                    <mat-label>Training Type Categories</mat-label>
                    <mat-select formControlName="drpTraining_Type">
                      <mat-option value="Class">Class</mat-option>
                      <mat-option value="Company">Company</mat-option>
                      <mat-option value="Flag">Flag</mat-option>
                      <mat-option value="Oil_Major">Oil Major</mat-option>
                      <mat-option value="Professional">Professional</mat-option>
                    </mat-select>
                  </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Training Short Code</mat-label>
              <input formControlName="textTraining_Short_Code" matInput placeholder="Search by Training Short Code" type="text" />
            </mat-form-field>
          </div>
      
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Training Name</mat-label>
              <input formControlName="textTraining_Name" matInput placeholder="Search by Training Name" type="text" />
            </mat-form-field>
        </div>
        
        <div fxLayout="column" fxLayout.gt-sm="row" >
            <mat-form-field fxFlex appearance="fill">
                <mat-label>Training Details</mat-label>
                <textarea
                matInput
                formControlName="txtTraining_Details"
                placeholder="Training Details"
                ></textarea>
            </mat-form-field>
        </div>
      
        
      </div>
    </form>
  
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" style="margin-bottom: 5px;">
  
        <button mat-raised-button color="primary" class="save-btn">
            Save & Close
          </button>
          <button mat-raised-button class="save-btn" color="primary">
            Save & Add New
          </button>
      
  
      <button mat-raised-button color="warn" (click)="CloseModal()">Cancel</button>
    </mat-dialog-actions>
  </div>