// .mat-dialog-title{
//     background-color: black;

// } 
.mat-mdc-dialog-container .mdc-dialog__title{
  color: #fff;
  background-color: black;
  }
  .logo {
    width: 20px;
    height: 20px;
}

.tacit-relation-modalt{
  

    .left-label {
      width: 18%;
      margin-top: 15px;
    }
  
    .mat-form-field-infix {
      border-top: 0.84375em solid transparent;
    }
  
    .mat-form-field-infix {
      border-top: 0.84375em solid transparent !important;
    }
  
    .right-text {
      text-align: right;
    }

    .example-full-width {
      width: 100%;
      
    }
    
  }

  