<fury-page-layout mode="card" class="crew-feeAnnualReport">
    <h4 style="margin: 10px;
font-weight: 500;
background-color: #e0dcdc;
padding: 16px;">Resume</h4>

    <fury-page-layout-content style="    border: 1px solid grey;

margin: 12px;
padding: 20px;">
        <table style="width:100%">

            <tbody>
                <tr>
                    <td style="white-space:nowrap"><b>Name</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap">Jhony Sharma</span></td>
                    <td style="white-space:nowrap"><b>Rank</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap">Chief Officer</span></td>
                    <td style="white-space:nowrap"><b>ID NO</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap"></span> </td>
                    <td rowspan="5"><img id="imgcrew" src="../../Uploads/Crew/Profiles/HRM_profile_icon.png"
                            style="max-height:100px; max-width:100px"></td>
                </tr>

                <tr>
                    <td style="white-space:nowrap"><b>D.O.B</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap">11-Jan-1989</span> </td>
                    <td style="white-space:nowrap"><b>P.O.B</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap">Delhi</span> </td>
                    <td style="white-space:nowrap"><b>Age</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap">34</span> </td>
                </tr>

                <tr>
                    <td style="white-space:nowrap"><b>Address</b></td>
                    <td>:</td>
                    <td colspan="7"><span>abc</span></td>
                </tr>

                <tr>
                    <td style="white-space:nowrap; width:100px"><b>Regional Name</b></td>
                    <td>:</td>
                    <td><span id="lblfamilyname" style="white-space:nowrap"></span> </td>

                    <td style="white-space:nowrap"><b>Height(cm)</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap"></span></td>
                    <td style="white-space:nowrap"><b>Tel</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap">(+) 91 98765443232</span></td>
                </tr>

                <tr>
                    <td style="white-space:nowrap"><b>Blood Type</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap"></span></td>
                    <td style="white-space:nowrap"><b>Weight</b></td>
                    <td>:</td>
                    <td><span style="white-space:nowrap"></span> </td>

                    <td style="white-space:nowrap; width:80px"><b>Shoe No.</b></td>
                    <td>:</td>
                    <td><span id="lblshoeno" style="white-space:nowrap"></span> </td>
                </tr>






            </tbody>
        </table>

        <h4 style="
            font-weight: 500;
            background-color: #e0dcdc;padding: 8px;
            ">Education Details</h4>

        <h4 style="
            font-weight: 500;
            background-color: #e0dcdc;padding: 8px;
            ">Document Details</h4>

        <table class="roundedTable">
            <thead>

                <tr>
                    <th style=" background-color: #411F1F;
                        color: #FFF;
                        padding: 6px;font-family: tahoma;border-right: 1px solid #fff;">CERTIFICATES TYPE</th>
                    <th style=" background-color: #411F1F;
                        color: #FFF;
                        padding: 6px;font-family: tahoma;border-right: 1px solid #fff;">DATE/PLACE OF ISSUE</th>
                    <th style=" background-color: #411F1F;
                        color: #FFF;
                        padding: 6px;font-family: tahoma;border-right: 1px solid #fff;">NUMBER</th>
                    <th style=" background-color: #411F1F;
                        color: #FFF;
                        padding: 6px;font-family: tahoma;border-right: 1px solid #fff;">EXPIRED DATE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Passport</td>
                    <td>06-May-2023 / Delhi</td>

                    <td>45367456</td>
                    <td>05-May-2025</td>
                </tr>
            </tbody>
        </table>
        <h4 style="
            font-weight: 500;
            background-color: #e0dcdc;padding: 8px;
            ">Career History</h4>

    </fury-page-layout-content>
</fury-page-layout>