<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row" fxLayoutAlign="space-between" >
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;"/>Add New Permit
    </span>
   
    <span fxLayoutAlign="end"  >
        <mat-icon (click)="CloseModal()">close</mat-icon>
      </span>
  </div>
  <div>
  <mat-dialog-content>
 
    <form [formGroup]="PermitFormGroup">
      <div mat-dialog-container style="padding-top: 20px;">
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Permit Number</mat-label>
              <input formControlName="txtPermit_Number" matInput placeholder="Search by Permit Number" type="text" />
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Country</mat-label>
              <mat-select formControlName="drpCountry">
                <mat-option value="Australia">Australia</mat-option>
                <mat-option value="Brazil">Brazil</mat-option>
                <mat-option value="China">China</mat-option>
                <mat-option value="India">India</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select formControlName="drpStatus">
                <mat-option value="Active">Active</mat-option>
                <mat-option value="InActive">InActive</mat-option>
                
              </mat-select>
            </mat-form-field>
          </div>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Quantity of Rounds</mat-label>
            <input formControlName="txtQua_Rounds" matInput placeholder="Enter only Number" type="text" />
          </mat-form-field>
        </div>


        
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
                <mat-label>Permit Issued Date</mat-label>
                <input matInput formControlName="Date_Form" [matDatepicker]="pickerFrom" />
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
        </div>  

        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
                <mat-label>Permit Expiry Date</mat-label>
                <input matInput formControlName="Date_To" [matDatepicker]="pickerTo" />
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
        </div>  
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
                <mat-label>Loan Remark</mat-label>
                <textarea
                matInput
                formControlName="txtLoan_Remark"
                placeholder=""
                ></textarea>
             </mat-form-field>
        </div>
  
     
        <div fxLayout="column" fxLayout.gt-sm="row">
              <div class="Attachment" fxLayout="column" fxLayout.gt-sm="row" >
                <!-- Use a button to create a custom file upload button -->

                <mat-label style="margin: 8px;">Upload Copy</mat-label> &nbsp;

                <input style="display: none;" type="file" id="imageupload" #fileInput
                    (change)="onFileSelected($event)" accept=".pdf,.doc,.docx,.jpg,.png" />

                <button type="button" class="upload-btn" style="margin-top: 6px;" *ngIf="!selectedFileName">
                    <label for="imageupload">
                        Select</label>
                </button>
                <div *ngIf="selectedFileName" fxFlex>
                    <span  aria-placeholder="Select files"> {{ selectedFileName
                        }}</span>
                    <button (click)="removeUploadedFileadditem()" mat-button style="color: #5BB318;">Remove</button>
                </div>

                <!-- File input element, hidden from view -->
            </div>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row"  *ngIf="!selectedFileName">
            <div style="    border: 8px solid lightgray;
            height: 50px;
            width: 100%;
            padding: 7px;
            text-align: center;
            box-shadow: 0 0 2px #cccccc; margin: 10px;">
              Drop Files here for Attachment
            </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" style="margin-bottom: 5px;">
  
      <button mat-raised-button color="primary" class="save-btn">
        Save & Close
      </button>
      <button mat-raised-button class="save-btn" color="primary">
        Save & Add New
      </button>
  
      <button mat-raised-button color="warn" (click)="CloseModal()">Cancel</button>
    </mat-dialog-actions>
  </div>
