<fury-page-layout mode="card" class="PMSJobStatus-View">

    <!-- search header for PURC_Catalogue -->
    <fury-page-layout-header>
        
      <form [formGroup]="PMSJobStatusFilterForm">
        <!-- <div>  
            <h2>{{routeTitle}}</h2>
        </div> -->
        <h3 >
         
          <span class="first-letter">PMS</span>&nbsp;
          <span class="first-letter">S</span>TATUS
       
      </h3>
        <div class="filter-area">
           
          <div fxLayout="row" fxLayoutAlign="start">
  
            <div fxFlex>
                <mat-form-field appearance="fill">
                    <mat-label>Vessel</mat-label>
                    <mat-select formControlName="drpVessel">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Machinery</mat-label>
                    <mat-select formControlName="drpMachinery">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Sub Component</mat-label>
                    <mat-select formControlName="drpSub_Component">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Job Code/Job Title</mat-label>
                    <input matInput formControlName="txtJobCode" />
                  </mat-form-field>             
            </div>

            <div fxFlex>
                <mat-form-field appearance="fill">
                    <mat-label>Frequency Type</mat-label>
                    <mat-select formControlName="drpFrequency_Type">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Maintenance Type</mat-label>
                    <mat-select formControlName="drpMaintenance_Type">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="drpDepartment">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Rank</mat-label>
                    <mat-select formControlName="drpRank">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
            </div>

            <div fxFlex>
                <mat-form-field appearance="fill">
                    <mat-label>CMS JOBS</mat-label>
                    <mat-select formControlName="drpCMS_JOBS">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Critical JOBS</mat-label>
                    <mat-select formControlName="drpCritical_JOBS">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Critical Machinery</mat-label>
                    <mat-select formControlName="drpCritical_Machinery">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Infrequent Use Machinery</mat-label>
                    <mat-select formControlName="drpInfrequent_Use_Machinery">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
            </div>

            <div fxFlex>
                <mat-form-field appearance="fill">
                    <mat-label>Verified Status</mat-label>
                    <mat-select formControlName="drpVerified_Status">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Overdue Status</mat-label>
                    <mat-select formControlName="drpOverdue_Status">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Deferment Sent To Office</mat-label>
                    <mat-select formControlName="drpDeferment_Sent_To_Office">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Is Actioned From Office</mat-label>
                    <mat-select formControlName="drpIs_Actioned">
                      <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                    </mat-select>
                  </mat-form-field>
            </div>
  
  
            <div fxFlex>
                <mat-form-field appearance="fill">
                    <mat-label>Last Done Date From</mat-label>
                    <input
                      matInput
                      formControlName="last_done_date_from"
                      [matDatepicker]="pickerlastdonedatefrom"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerlastdonedatefrom"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerlastdonedatefrom></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>To</mat-label>
                    <input
                      matInput
                      formControlName="last_done_date_to"
                      [matDatepicker]="pickerlastdonedateto"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerlastdonedateto"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerlastdonedateto></mat-datepicker>
                  </mat-form-field>

            </div>

            <div fxFlex>
                <mat-form-field appearance="fill">
                    <mat-label>Next Due Date From</mat-label>
                    <input
                      matInput
                      formControlName="next_due_date_from"
                      [matDatepicker]="pickernextduedatefrom"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickernextduedatefrom"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickernextduedatefrom></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>To</mat-label>
                    <input
                      matInput
                      formControlName="next_due_date_to"
                      [matDatepicker]="pickernextduedateto"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickernextduedateto"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickernextduedateto></mat-datepicker>
                  </mat-form-field>

                  <div class="sfis-filter">
                    SFIs Filter : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                    <span (click)="OpenSFIsList(null)">
                        <img src="../../../../assets/img/HRM_Zoom.png" class="search-logo" alt="excel" style="margin-right: 10px;
                        margin-bottom: -4px;cursor: pointer;"/>
                    </span>
                  </div>

                  <div class="approval-cert">
                    Class NK Approval Cert
                  </div>

            </div>
  
            <div class="filter-btn-area" fxFlex>
              <div>
                <button class="create" mat-raised-button color="primary" class="filter-btn">
                  Search
                </button>
              </div>
  
              <div>
                <button class="create"  mat-raised-button color="warn" class="filter-btn"
                  type="button" >
                  Clear
                </button>
              </div>
              <div>
                <button class="create" mat-raised-button color="primary" class="filter-btn" (click)="ImportPMS(null)">
                  Import
                </button>
              </div>
              <div ><button (click)="SaveData('TECH_PMS_JobStatus_Edit')">Job Code</button></div>
           
              <button mat-stroked-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="    background: linear-gradient(#f1f1f1, #f1f1f1);
              color: #676565;
              font-family: tahoma;">
                Actions <mat-icon>arrow_drop_down</mat-icon>
              </button>
              
              <mat-menu #menu="matMenu"  
              yPosition="below"
              xPosition="before">
                <button mat-menu-item appAddSpinnerOnClick style=" line-height: 23px !important;
                height: 26px !important;
                font-size: 13px !important;
                color: #000 !important;">
                  <span>
                    <img src="../../../../assets/img/Followup.jpg" class="logo" alt="excel" style="margin-right: 10px;
                    margin-bottom: -4px;"/>
                </span>
                  <span>Followup</span>
                </button>
                <button mat-menu-item appAddSpinnerOnClick style=" line-height: 23px !important;
                height: 26px !important;
                font-size: 13px !important;
                color: #000 !important;" (click)="SaveData('TECH_PMS_JobStatus_Edit')">
                  <span>
                    <img src="../../../../assets/img/Edit.png" class="logo" alt="excel" style="margin-right: 10px;
                    margin-bottom: -4px;"/>
                </span>
                  <span>Edit</span>
                </button>
                <hr>
                <button mat-menu-item appAddSpinnerOnClick style=" line-height: 23px !important;
                height: 26px !important;
                font-size: 13px !important;
                color: #000 !important;" (click)="ViewJobHistory('TECH_PMS_JobHistory')">
                  <span>
                    <img src="../../../../assets/img/history.png" class="logo" alt="excel" style="margin-right: 10px;
                    margin-bottom: -4px;"/>
                </span>
                  <span>View Job History</span>
                </button>
                <button mat-menu-item appAddSpinnerOnClick style=" line-height: 23px !important;
                height: 26px !important;
                font-size: 13px !important;
                color: #000 !important;" (click)="ViewRunningHours(null)">
                  <span>
                    <img src="../../../../assets/img/tick.png" class="logo" alt="excel" style="margin-right: 10px;
                    margin-bottom: -4px;"/>
                </span>
                  <span>View R/Hr</span>
                </button>
                <button mat-menu-item appAddSpinnerOnClick style=" line-height: 23px !important;
                height: 26px !important;
                font-size: 13px !important;
                color: #000 !important;" (click)="MachineryDetails(null)">
                  <span>
                    <img src="../../../../assets/img/View.png" class="logo" alt="excel" style="margin-right: 10px;
                    margin-bottom: -4px;"/>
                </span>
                  <span>View Machinery Details</span>
                </button>
               <hr>
                <button mat-menu-item appAddSpinnerOnClick style=" line-height: 23px !important;
                height: 26px !important;
                font-size: 13px !important;
                color: #000 !important;">
                  <span>
                    <img src="../../../../assets/img/ChangeRequset.png" class="logo" alt="excel" style="margin-right: 10px;
                    margin-bottom: -4px;"/>
                </span>
                  <span>Request deferment</span>
                </button>
                <button mat-menu-item appAddSpinnerOnClick style=" line-height: 23px !important;
                height: 26px !important;
                font-size: 13px !important;
                color: #000 !important;">
                  <span>
                    <img src="../../../../assets/img/ChangeRequset.png" class="logo" alt="excel" style="margin-right: 10px;
                    margin-bottom: -4px;"/>
                </span>
                  <span>Approve deferment</span>
                </button>
                <button mat-menu-item appAddSpinnerOnClick style=" line-height: 23px !important;
                height: 26px !important;
                font-size: 13px !important;
                color: #000 !important;" (click)="ApproveDeferment(null)">
                  <span>
                    <img src="../../../../assets/img/ChangeRequset.png" class="logo" alt="excel" style="margin-right: 10px;
                    margin-bottom: -4px;"/>
                </span>
                  <span>Generate Link</span>
                </button>
              </mat-menu>

            </div>
  
          </div>
        </div>
      </form>
    </fury-page-layout-header>

    
  <fury-page-layout-content [@fadeInUp] style="margin-top:9px;">
    <div class="actions-area">
      <table style="width: 100%;">
        <tr>
            <td class="PMS-Status"><div>PMS Status</div></td>
            <td class="Deferment"><div>Deferment Status</div></td>
            <td class="td-icons"><div>
                <span style="cursor: pointer">
                  <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
                  <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
                  <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
                </span>
              </div></td>
        </tr>
      </table>
      <!-- <div class="content-loader">
          <mat-progress-spinner
            mode="indeterminate"
            color="accent"
          ></mat-progress-spinner>
        </div> -->
    </div>

    <div #TABLE>
        <table [dataSource]="dataSource" mat-table matSort #table class="details-table">
         
      
          <ng-container matColumnDef="Value">
            <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">Value</th>
  
          </ng-container>
  
          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">Type</th>
  
          </ng-container>
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">Date</th>
  
          </ng-container>
          <ng-container matColumnDef="RHRS">
            <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">RHRS</th>
  
          </ng-container>
        
          <ng-container matColumnDef="header-row-first-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
              Vessel
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-second-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
              Machinery
            </th>
          </ng-container>
  
          <ng-container matColumnDef="header-row-third-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
                SubComponent
            </th>
          </ng-container>
            
          <ng-container matColumnDef="header-row-fourth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
                Job Code
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-fifth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align: center;">
              Job Title
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-sixth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2" style="border-left: 1px solid #ddd;
              border-bottom: 1px solid #ddd;
              text-align: center;">
             Frequency
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-seventh-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            text-align: center;">
              CMS JOBS
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-eighth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
              Critical JOBS
            </th>
          </ng-container>
  
          <ng-container matColumnDef="header-row-eighth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
              Department
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-ninth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
              Rank
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-tenth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
              Last Done Date
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-eleventh-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
              Next Due Date
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-twelth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
             Maintenance Type
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-thirteenth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
             Verified Status
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-fourteenth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
             Remarks
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-fifteenth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
             
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-sixteenth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
             Deferement Requested?
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-eighteenth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
             Deferment Sent To Office?
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-nineteenth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
             Is Actioned From Office?
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-twentieth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
           
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-twenty-oneth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
             
            </th>
          </ng-container>
  
          <tr mat-header-row
            *matHeaderRowDef="['header-row-first-group','header-row-second-group','header-row-third-group',
            'header-row-fourth-group','header-row-fifth-group','header-row-sixth-group','header-row-seventh-group',
            'header-row-eighth-group', 'header-row-ninth-group', 'header-row-tenth-group', 'header-row-eleventh-group', 
            'header-row-twelth-group','header-row-thirteenth-group', 'header-row-fourteenth-group', 'header-row-fifteenth-group', 
            'header-row-sixteenth-group', 'header-row-eighteenth-group', 'header-row-nineteenth-group','header-row-twentieth-group', 'header-row-twenty-oneth-group']"
            style="height:32px">
          </tr>
  
  
  
          <tr *matHeaderRowDef="visibleColumns" mat-header-row style="height:32px"></tr>
          <tr *matRowDef="let row; columns: visibleColumns" class="clickable route-animations-elements" mat-row></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">No data found</td>
          </tr>
        </table>
      </div>
  
      <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"></mat-paginator>

  </fury-page-layout-content>


  </fury-page-layout>
  