<div style="text-align: center;font-weight: bold;    height: 24px;
vertical-align: middle;margin-top: 30px;color: #20435E;
    text-align: center;
    font-size: x-large;">
    <h3>

        <span class="first-letter">C</span>HARTER
        <span class="first-letter">-</span>
        <span class="first-letter">P</span>ARTY
        <span class="first-letter">C</span>ONSUMPTIONS'
        <span class="first-letter">T</span>HRESHOLD
        <span class="first-letter">I</span>NDEX

    </h3>
</div>


<div fxLayout="row" fxLayoutAlign="space-between center">
                        
    <div fxFlex="15">
        </div>
        <div fxFlex="70">
            <table style="width: 100%;">
                <tr>
                    <td colspan="3" class="cp-title-text"><a class="cp-title-link">CP Threshold</a></td>
                    
                </tr>
                <tr>
                    <td colspan="3" class="cp-title-text"><a class="cp-title-link" (click)="gotoCPConsumptionsIndex('OPS_NAD_CHARTER_PARTY_CONS_INDEX')">CP Consumptions' Index</a></td>
                </tr>
                <tr>
                    <td style="width: 20%;vertical-align: top;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                            <input placeholder="Enter Vessel Name" class="cp-input-text"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%;
                                height: 100%;
                                border-collapse: collapse;
                                table-layout: fixed;    border: 1px solid #d5d5d5;border-radius: 5px;">
                                <tr style="border: 1px solid #d5d5d5;">
                                    <td class="cp-vessel-header"><b>Vessel</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="width: 100%;">
                                            <tbody>
                                            <tr>
                                                <td class="cp-vessel-body">Alexa</td>
                                            </tr>
                                                <tr>
                                                <td class="cp-vessel-body">Alexandre</td> 
                                            </tr>
                                                <tr>
                                                <td class="cp-vessel-body">Bryce</td>
                                            </tr>
                                                <tr>
                                                <td class="cp-vessel-body">Catalan Sea</td>
                                            </tr>
                                                <tr>
                                                <td class="cp-vessel-body">Cedrick</td>
                                            </tr>
                                            <tr>
                                                <td class="cp-vessel-body">Alexa</td>
                                            </tr>
                                                <tr>
                                                <td class="cp-vessel-body">Alexandre</td> 
                                            </tr>
                                                <tr>
                                                <td class="cp-vessel-body">Bryce</td>
                                            </tr>
                                                <tr>
                                                <td class="cp-vessel-body">Catalan Sea</td>
                                            </tr>
                                                <tr>
                                                <td class="cp-vessel-body">Cedrick</td>
                                            </tr>
                                       
                                        </tbody>
                                        </table>
                                    </td>
                                </tr>
                                
                                </table>
                            </td>
                        </tr>
                    </table>

                    </td>
                    <td style="width: 45%;vertical-align: top;">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                               <div style="height: 30px;"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width: 100%;
                                    height: 100%;
                                    border-collapse: collapse;
                                    table-layout: fixed;    border: 1px solid #d5d5d5;border-radius: 5px;">
                                    <tr style="border: 1px solid #d5d5d5;">
                                        <td class="cp-vessel-header"><b>Voyage</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table style="width: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td class="cp-vessel-body">Spot - 1234 - 11May2023 - Others</td>
                                                </tr>
                                                    <tr>
                                                        <td class="cp-vessel-body">Spot - 1234 - 11May2023 - Others</td>
                                                </tr>
                                                    <tr>
                                                        <td class="cp-vessel-body">Spot - 1234 - 11May2023 - Others</td>
                                                </tr>
                                                                                      
                                            </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    
                                    </table>
                                </td>
                            </tr>
                        </table>
                </td>
                    <td style="width: 35%;vertical-align: top;">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                               <div style="height: 30px;"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width: 100%;
                                    height: 100%;
                                    border-collapse: collapse;
                                    table-layout: fixed;border-radius: 5px;">
                                    <tr style="border: 1px solid #d5d5d5;">
                                        <td class="cp-vessel-header" style="text-align: center;"><b>Charter-Party Consumptions per 24 hours</b></td>
                                    </tr>
                                    <tr>
                                     <td>
                                        <table style="width: 100%;">
                                      
                                         <tr>
                                            <td style="width: 50%;vertical-align: top;">
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td>
                                                            <table style="width: 100%;
                                                            height: 100%;
                                                            border-collapse: collapse;
                                                            table-layout: fixed;    border: 1px solid #d5d5d5;border-radius: 5px;">
                                                            <tr style="border: 1px solid #d5d5d5;">
                                                                <td class="cp-vessel-header"><b>Activity Type</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table style="width: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td class="cp-vessel-body">Full Speed</td>
                                                                        </tr>
                                                                            <tr>
                                                                            <td class="cp-vessel-body">Eco Speed</td> 
                                                                        </tr>
                                                                            <tr>
                                                                            <td class="cp-vessel-body">Super Slow Speed</td>
                                                                        </tr>
                                                                            <tr>
                                                                            <td class="cp-vessel-body">In Port</td>
                                                                        </tr>
                                                                            <tr>
                                                                            <td class="cp-vessel-body">Idle</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="cp-vessel-body">Ballasting/Deballasting</td>
                                                                        </tr>
                                                                            <tr>
                                                                            <td class="cp-vessel-body">Ballast Excahnage</td> 
                                                                        </tr>
                                                                        
                                                                    </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </table>
                                            </td>
                                            <td style="width: 50%;vertical-align: top;">
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td>
                                                            <table style="width: 100%;
                                                            height: 100%;
                                                            border-collapse: collapse;
                                                            table-layout: fixed;    border: 1px solid #d5d5d5;border-radius: 5px;">
                                                            <tr style="border: 1px solid #d5d5d5;">
                                                                <td class="cp-vessel-header"><b>Cargo Status</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table style="width: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td class="cp-vessel-body">Laden</td>
                                                                        </tr>
                                                                            <tr>
                                                                            <td class="cp-vessel-body">Ballast</td> 
                                                                        </tr>
                                                                           
                                                                    </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table style="width: 100%;
                                                            height: 100%;
                                                            border-collapse: collapse;
                                                            table-layout: fixed;    border: 1px solid #d5d5d5;border-radius: 5px;">
                                                            <tr style="border: 1px solid #d5d5d5;">
                                                                <td class="cp-vessel-header"><b>Fuel Type</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table style="width: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td class="cp-vessel-body">HFO</td>
                                                                        </tr>
                                                                            <tr>
                                                                            <td class="cp-vessel-body">HFO LS</td> 
                                                                        </tr>
                                                                           
                                                                    </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                            </table>
                                                        </td>
                                                    </tr> 
                                                    
                                                    <tr>
                                                        <td>
                                                            <table style="width: 100%;
                                                            height: 100%;
                                                            border-collapse: collapse;
                                                            table-layout: fixed;    border: 1px solid #d5d5d5;border-radius: 5px;">
                                                            <tr style="border: 1px solid #d5d5d5;">
                                                                <td class="cp-vessel-header"><b>Unit</b></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table style="width: 100%;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td class="cp-vessel-body">MT</td>
                                                                        </tr>
                                                                            <tr>
                                                                            <td class="cp-vessel-body">Cub M</td> 
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="cp-vessel-body">TEU</td> 
                                                                        </tr>
                                                                           
                                                                    </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                            </table>
                                                        </td>
                                                    </tr>    
                                                  
                                                    </table>
                                            </td>
                                         </tr>

                                        </table>
                                     </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <mat-form-field fxFlex appearance="fill">
                                                <mat-label class="left-label">Threshold Value</mat-label>
                                               
                                                  <input
                                                    type="text"
                                                    class="right-text"
                                                 
                                                    matInput
                                                  />
                                               
                                              </mat-form-field>

                                        </td>
                                    </tr>
                                   
                                    <tr>
                                        <td>
                                            <mat-form-field fxFlex appearance="fill">
                                                <mat-label>Remark</mat-label>
                                                <textarea matInput ></textarea>
                                              </mat-form-field>
                                        </td>
                                    </tr>
                                  
                                    
                                    </table>
                                </td>
                            </tr>
                        </table>
                        </td>
                </tr>

                <tr>
                    <td colspan="3" style="text-align: end;">
                        <button mat-raised-button color="primary" class="save-btn save-btn1"
                    style="margin-bottom: 10px;">Save</button> 
                    </td>
                </tr>
            </table>

          
            <table style="width: 100%;">

                <tr>
                    <td>
                        <span class="cp-table-title1">Existing Activity</span><br>
                        <span class="cp-table-title2">to edit an existing value, click on the row</span>

                        
    <div #TABLE>
        <table
          [dataSource]="CPActivityLogdataSource"
          mat-table
          matSort
          #table
          class="details-table"
        >
          <ng-container matColumnDef="Vessel">
            <th
              *matHeaderCellDef
              class="actions-cell"
              [ngStyle]="{ 'white-space': 'initial' }"
              mat-header-cell
              mat-sort-header
            >
            Vessel
            </th>
            <!-- <td
              *matCellDef="let row; let i = index"
              class="actions-cell"
              [ngStyle]="{ 'white-space': 'initial' }"
              mat-cell
            >
              <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
            </td> -->
          </ng-container>
  
          <ng-container matColumnDef="Voyage">
            <th
              *matHeaderCellDef
              class="actions-cell"
              mat-header-cell
              mat-sort-header
            >
            Voyage
            </th>
            <!-- <td
              *matCellDef="let row; let i = index"
              class="actions-cell"
              mat-cell
            >
              <p class="tbl-row-item">{{ row.REF_NUM }}</p>
            </td> -->
          </ng-container>
          <ng-container matColumnDef="Activity_Type">
              <th
                *matHeaderCellDef
                class="actions-cell"
                mat-header-cell
                mat-sort-header
              >
              Activity Type
              </th>
              <!-- <td
                *matCellDef="let row; let i = index"
                class="actions-cell"
                mat-cell
              >
                <p class="tbl-row-item">{{ row.REF_NUM }}</p>
              </td> -->
            </ng-container>

            <ng-container matColumnDef="Cargo_State">
                <th
                  *matHeaderCellDef
                  class="actions-cell"
                  mat-header-cell
                  mat-sort-header
                >
                Cargo State
                </th>
                <!-- <td
                  *matCellDef="let row; let i = index"
                  class="actions-cell"
                  mat-cell
                >
                  <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                </td> -->
              </ng-container>
              <ng-container matColumnDef="Start_Date">
                <th
                  *matHeaderCellDef
                  class="actions-cell"
                  mat-header-cell
                  mat-sort-header
                >
                Start Date
                </th>
                <!-- <td
                  *matCellDef="let row; let i = index"
                  class="actions-cell"
                  mat-cell
                >
                  <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                </td> -->
              </ng-container>
              <ng-container matColumnDef="End_Date">
                <th
                  *matHeaderCellDef
                  class="actions-cell"
                  mat-header-cell
                  mat-sort-header
                >
                End Date
                </th>
                <!-- <td
                  *matCellDef="let row; let i = index"
                  class="actions-cell"
                  mat-cell
                >
                  <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                </td> -->
              </ng-container>
              <ng-container matColumnDef="info">
                <th
                  *matHeaderCellDef
                  class="actions-cell"
                  mat-header-cell
                  mat-sort-header
                >
                
                </th>
                <!-- <td
                  *matCellDef="let row; let i = index"
                  class="actions-cell"
                  mat-cell
                >
                  <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                </td> -->
              </ng-container>
     
          <tr *matHeaderRowDef="visibleColumnsCPActivityLog" mat-header-row></tr>
          <tr
            *matRowDef="let row; columns: visibleColumnsCPActivityLog"
            class="clickable route-animations-elements"
            mat-row
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">No data found</td>
          </tr>
        </table>
      </div>
  
       <mat-paginator
        class="paginator"
        [pageSizeOptions]="[10, 25, 50, 100]"
        [pageSize]="pageSize"
      ></mat-paginator>
                    </td>


                </tr>

                

            </table>            
        </div>
        <div fxFlex="15">
        </div>
        </div>
