<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row"
    fxLayoutAlign="space-between">
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;" />10496 Medical follow up
    </span>

    <span fxLayoutAlign="end">
        <mat-icon (click)="CloseModal()">close</mat-icon>
    </span>
</div>

<fury-page-layout mode="card" class="crew-followupIndex" style="margin-top: 30px;">

   

    <fury-page-layout-content>



        <fury-page-layout-content [@fadeInUp] class="content-area">
            <div class="actions-area">

                <div fxLayout="row">
                    <button mat-mini-fab color="primary" [matTooltip]="'Add Follow Up'"
                        class="add-approve-btn save-btn" (click)="saveNewFollowUp(null,false)">
                        <mat-icon class="add-approve-btn-icon">add</mat-icon>
                    </button>
                    <span style="margin-top: 3px;
              margin-left: 6px;font-size: 15px;"> Add Follow Up</span>
                </div>
                <div>
                    <!-- <span style="margin: 5px;" (click)="SortCertificates(null, false)">Sort Certificates</span> -->
                    <span>
                        <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
                        <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
                        <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
                    </span>
                </div>

            </div>

            <div #TABLE>
                <table [dataSource]="followUpIndexdataSource" mat-table matSort #table class="details-table">


                    <ng-container matColumnDef="Folow_up_date">
                        <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                            Follow Up Date
                        </th>
                        <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
                            <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Details">
                        <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                            Details
                        </th>
                        <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
                            <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="Action">
                        <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
                            Action
                        </th>
                        <td *matCellDef="let row" class="actions-cell" mat-cell>
                            <!-- -->
                            <button mat-icon-button color="primary">
                                <mat-icon class="icon-display">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="warn">
                                <mat-icon>close</mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon class="icon-display">info</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr *matHeaderRowDef="followUpIndexvisibleColumns" mat-header-row></tr>
                    <tr *matRowDef="let row; columns: followUpIndexvisibleColumns"
                        class="clickable route-animations-elements" mat-row></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9999">No data found</td>
                    </tr>
                </table>
            </div>
            <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

        </fury-page-layout-content>

    </fury-page-layout-content>
</fury-page-layout>