<div mat-dialog-title>
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="width: 20px;
        height:20px; margin-right: 10px;margin-bottom: -4px;" />
    </span>
      {{modeltitle}}
</div>

<mat-dialog-content style="height: 100% !important" class="edit-new-opening-balance">

    <div>
        <form [formGroup]="ThresholdRemarkFormGroup"> 
          
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

            <mat-form-field fxFlex appearance="fill">
                <mat-label>Remark</mat-label>
                <textarea matInput formControlName="txtRemark" ></textarea>
              </mat-form-field> 

            </div>

    


        </form>
    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" class="save-btn" 
    [ngClass]="[!ThresholdRemarkFormGroup.valid ? '' : 'save-btn']" [disabled]="!ThresholdRemarkFormGroup.valid">
    SAVE & CLOSE
  </button>
 
    <button mat-raised-button color="warn" (click)="CloseModal()">CLOSE</button>
  </mat-dialog-actions>

