<div mat-dialog-title>
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="width: 20px;
        height:20px; margin-right: 10px;margin-bottom: -4px;" />
    </span>
      {{modeltitle}}
</div>

<mat-dialog-content style="height: 100% !important" class="add-new-threshold">

    <div>
        <form [formGroup]="SludgeDetailFormGroup"> 
            
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Sludge Or Bilge</mat-label>
                    <mat-select formControlName="drpSludge_Or_Bilge">
                        <mat-option>
    
                        </mat-option>
    
                        <!-- <mat-option
                        *ngFor="let b of filtered_port | async"
                        [value]="b.PORT_GUID"
                      >
                        {{ b.Port_Name }}
                      </mat-option> -->
                    </mat-select>
                    <mat-error *ngIf="SludgeDetailFormGroup.get('drpSludge_Or_Bilge').hasError('required')">
                        Required
                    </mat-error>
                </mat-form-field>
                
             
            </div>

            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

                <mat-form-field fxFlex appearance="fill">
                    <mat-label class="left-label">Daily Production</mat-label>
                   
                      <input
                        type="text"
                        class="right-text"
                        formControlName="txtDaily_Production"
                        matInput
                      />
                   
                  </mat-form-field>
           
            </div>

   
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

                <mat-form-field fxFlex appearance="fill">
                    <mat-label class="left-label">Total Quantity</mat-label>
                   
                      <input
                        type="text"
                        class="right-text"
                        formControlName="txtTotal_Quantity"
                        matInput
                      />
                   
                  </mat-form-field>
           
            </div>
    

            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

                <mat-form-field fxFlex appearance="fill">
                    <mat-label class="left-label">Tank Number/Name</mat-label>
                   
                      <input
                        type="text"
                        class="right-text"
                        formControlName="txtTank_Number"
                        matInput
                      />
                   
                  </mat-form-field>
           
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">

                <mat-form-field fxFlex appearance="fill">
                    <mat-label class="left-label">Current Filling Ratio</mat-label>
                   
                      <input
                        type="text"
                        class="right-text"
                        formControlName="txtCurrent_Filling_Ratio"
                        matInput
                      />
                   
                  </mat-form-field>
           
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex appearance="fill">
                <mat-label>Remark</mat-label>
                <textarea matInput formControlName="txtRemark" ></textarea>
              </mat-form-field>
            </div>

        </form>
    </div>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" class="save-btn" 
    [ngClass]="[!SludgeDetailFormGroup.valid ? '' : 'save-btn']" [disabled]="!SludgeDetailFormGroup.valid">
    SAVE
  </button>

    <button mat-raised-button color="warn" (click)="CloseModal()">CLOSE</button>
  </mat-dialog-actions>

