fury-crew-pay-slips {

    .crew-PaySlips-view {

        .payslips-td {
            background-color: #1F497D;
            color: White;
            height: 28px;
            border-radius: 5px;
            overflow: hidden;
            padding-left: 5px;
            font-family: tahoma;
        }

        .payslip-detail {
            border: 1px solid #d9d9d9;
            background: #fff;
            color: #333;
            font-family: tahoma;
            padding-left: 25px;
            padding-top: 7px;
            padding-bottom: 7px;

        }

        .mat-mdc-form-field+.mat-mdc-form-field {
            margin-left: 8px;
        }

        .panel-header {
            border: 1px solid #d9d9d9;
            background: linear-gradient(#ffffff, #c3c3c3);
            color: #333;
            font-family: tahoma;
            height: 35px;
            border-radius: 0;
        }

        .panel-title {
            color: maroon;
            font-weight: bold;
            font-size: 13.5px;
        }

        .mat-expansion-panel-body {
            padding: 0;
        }

        .pay-td{
            font-family: tahoma;
        }
        .earnings-td{
            color: White;
            background-color: #31527E;
            font-size: 14px;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 5px;
        }
        .earnings-td2{
            color: White;
            background-color: #31527E;
            font-size: 14px;
            text-align: center;
            padding: 5px;
        }
        .deductions-td{
            color: White;
            background-color: tomato;
            font-size: 14px;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 5px;
        }
        .deductions-td2{
            color: White;
            background-color: tomato;
            font-size: 14px;
            text-align: center;
            padding: 5px;
        }

    }

}