<div style="text-align: center;font-weight: bold;height: 24px;
vertical-align: middle;margin-top: 30px;">
    <h3>

        <span class="first-letter">V</span>ESSEL
        <span class="first-letter">A</span>SSIGNMENT

    </h3>
</div>

<fury-page-layout mode="card" class="Vessel-Assignment-view">

    <div>
        <div style="padding: 5px 20px 0px 20px;">

            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;vertical-align: top;">
                        <table style="width: 100%;">
                            <tr>
                                <td class="assign-title-1">Staff, presently onboard, but finishing contract</td>
                            </tr>

                            <tr>
                                <td>
                                    <form [formGroup]="VesselAssignmentOnboardFilterForm">
                                        <div class="filter-area">

                                            <div fxLayout="row" fxLayoutAlign="start">
                                                <div fxFlex>
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Search Staff code</mat-label>
                                                        <input type="text" formControlName="txtSearch_Staff_Code"
                                                            matInput />
                                                    </mat-form-field>

                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Search Staff Name</mat-label>
                                                        <input type="text" formControlName="txtSearch_Staff_Name"
                                                            matInput />
                                                    </mat-form-field>

                                                </div>

                                                <div fxFlex>
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Search Rank</mat-label>
                                                        <mat-select formControlName="drpSearch_Rank">
                                                            <!-- <mat-option *ngFor="let b of filtered_Department | async" [value]="b.ID">
                      {{ b.DEPT_NAME }}
                    </mat-option> -->
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>All items checked</mat-label>
                                                        <mat-select formControlName="drpAll_Items_Checked">
                                                            <!-- <mat-option *ngFor="let b of filtered_Department | async" [value]="b.ID">
                      {{ b.DEPT_NAME }}
                    </mat-option> -->
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                                <div fxFlex>
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Before</mat-label>
                                                        <input matInput formControlName="date_Before"
                                                            [matDatepicker]="pickerdate_Before" />
                                                        <mat-datepicker-toggle matSuffix
                                                            [for]="pickerdate_Before"></mat-datepicker-toggle>
                                                        <mat-datepicker #pickerdate_Before></mat-datepicker>
                                                    </mat-form-field>



                                                </div>

                                                <div class="filter-btn-area" fxFlex>
                                                    <div>
                                                        <button class="create" mat-raised-button color="primary"
                                                            class="filter-btn">
                                                            Search
                                                        </button>
                                                    </div>

                                                    <div>
                                                        <button class="create" mat-raised-button color="warn"
                                                            class="filter-btn" type="button">
                                                            Clear
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div #TABLE>
                                        <table [dataSource]="VesselAssignOnboarddataSource" mat-table matSort #table
                                            class="details-table"
                                            style="border-radius: 10px;overflow: hidden !important;">
                                            <ng-container matColumnDef="Staff_Code">
                                                <th *matHeaderCellDef class="actions-cell"
                                                    [ngStyle]="{ 'white-space': 'initial' }" mat-header-cell
                                                    mat-sort-header>
                                                    Staff Code
                                                </th>
                                                <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          [ngStyle]="{ 'white-space': 'initial' }"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
                        </td> -->
                                            </ng-container>

                                            <ng-container matColumnDef="Staff_Name">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    Staff Name
                                                </th>
                                                <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                                            </ng-container>
                                            <ng-container matColumnDef="Rank">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    Rank
                                                </th>
                                                <!-- <td
                            *matCellDef="let row; let i = index"
                            class="actions-cell"
                            mat-cell
                          >
                            <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                          </td> -->
                                            </ng-container>
                                            <ng-container matColumnDef="Current_Vessel">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    Current Vessel
                                                </th>
                                                <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                        </td> -->
                                            </ng-container>
                                            <ng-container matColumnDef="EOC">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    EOC
                                                </th>
                                                <!-- <td
                            *matCellDef="let row; let i = index"
                            class="actions-cell"
                            mat-cell
                          >
                            <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                          </td> -->
                                            </ng-container>
                                            <ng-container matColumnDef="Select">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    Select
                                                </th>
                                                <!-- <td
                            *matCellDef="let row; let i = index"
                            class="actions-cell"
                            mat-cell
                          >
                            <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                          </td> -->
                                            </ng-container>

                                            <tr *matHeaderRowDef="visibleColumnsVesselAssignOnboard" mat-header-row>
                                            </tr>
                                            <tr *matRowDef="let row; columns: visibleColumnsVesselAssignOnboard"
                                                class="clickable route-animations-elements" mat-row>
                                            </tr>
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="9999">No data found</td>
                                            </tr>
                                        </table>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </td>

                    <td style="width: 50%;vertical-align: top;">
                        <table style="width: 100%;">
                            <tr>
                                <td class="assign-title-1">Staff, presently ashore, awaiting employment</td>
                            </tr>
                            <tr>
                                <td>
                                    <form [formGroup]="VesselAssignmentAshoreFilterForm">
                                        <div class="filter-area">

                                            <div fxLayout="row" fxLayoutAlign="start">
                                                <div fxFlex>
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Search Staff code</mat-label>
                                                        <input type="text" formControlName="txtSearch_Staff_Code"
                                                            matInput />
                                                    </mat-form-field>

                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Search Staff Name</mat-label>
                                                        <input type="text" formControlName="txtSearch_Staff_Name"
                                                            matInput />
                                                    </mat-form-field>

                                                </div>

                                                <div fxFlex>
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Search Rank</mat-label>
                                                        <mat-select formControlName="drpSearch_Rank">
                                                            <!-- <mat-option *ngFor="let b of filtered_Department | async" [value]="b.ID">
                      {{ b.DEPT_NAME }}
                    </mat-option> -->
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>All items checked</mat-label>
                                                        <mat-select formControlName="drpAll_Items_Checked">
                                                            <!-- <mat-option *ngFor="let b of filtered_Department | async" [value]="b.ID">
                      {{ b.DEPT_NAME }}
                    </mat-option> -->
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                                <div fxFlex>

                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Search Stage</mat-label>
                                                        <mat-select formControlName="drpSearch_Stage">
                                                            <!-- <mat-option *ngFor="let b of filtered_Department | async" [value]="b.ID">
                      {{ b.DEPT_NAME }}
                    </mat-option> -->
                                                        </mat-select>
                                                    </mat-form-field>

                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Before</mat-label>
                                                        <input matInput formControlName="date_Before"
                                                            [matDatepicker]="pickerdate_Before" />
                                                        <mat-datepicker-toggle matSuffix
                                                            [for]="pickerdate_Before"></mat-datepicker-toggle>
                                                        <mat-datepicker #pickerdate_Before></mat-datepicker>
                                                    </mat-form-field>

                                                </div>

                                                <div fxFlex>
                                                    <mat-radio-group fxLayout="column" fxLayoutGap="7px"
                                                        formControlName="radio_Onboard_Ashore" class="radio-btn-group">
                                                        <mat-radio-button value="0"
                                                            [checked]="VesselAssignmentAshoreFilterForm.get('radio_Onboard_Ashore').value == 0">
                                                            <label
                                                                [class.active-label]="VesselAssignmentAshoreFilterForm.get('radio_Onboard_Ashore').value == 0"
                                                                style="font-family:tahoma;"><b>Ashore</b></label>
                                                        </mat-radio-button>
                                                        <mat-radio-button value="1"
                                                            [checked]="VesselAssignmentAshoreFilterForm.get('radio_Onboard_Ashore').value == 1">
                                                            <label
                                                                [class.active-label]="VesselAssignmentAshoreFilterForm.get('radio_Onboard_Ashore').value == 1"
                                                                style="font-family:tahoma;"><b>Onboard</b></label>
                                                        </mat-radio-button>
                                                    </mat-radio-group>

                                                    <div style="margin-top: 25px;">
                                                        <mat-checkbox [color]="'primary'"
                                                            formControlName="chkShow_Images" id="chkShow_Images">
                                                        </mat-checkbox>
                                                        <label for="chkShow_Images"
                                                            class="form-check-label">&nbsp;&nbsp;Show images</label>
                                                    </div>

                                                </div>

                                                <div class="filter-btn-area" fxFlex>
                                                    <div>
                                                        <button class="create" mat-raised-button color="primary"
                                                            class="filter-btn">
                                                            Search
                                                        </button>
                                                    </div>

                                                    <div>
                                                        <button class="create" mat-raised-button color="warn"
                                                            class="filter-btn" type="button">
                                                            Clear
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div #TABLE>
                                        <table [dataSource]="VesselAssignAshoredataSource" mat-table matSort #table
                                            class="details-table"
                                            style="border-radius: 10px;overflow: hidden !important;">
                                            <ng-container matColumnDef="Staff_Code">
                                                <th *matHeaderCellDef class="actions-cell"
                                                    [ngStyle]="{ 'white-space': 'initial' }" mat-header-cell
                                                    mat-sort-header>
                                                    Staff Code
                                                </th>
                                                <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          [ngStyle]="{ 'white-space': 'initial' }"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.Vessel_Name }}</p>
                        </td> -->
                                            </ng-container>

                                            <ng-container matColumnDef="Staff_Name">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    Staff Name
                                                </th>
                                                <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                        </td> -->
                                            </ng-container>
                                            <ng-container matColumnDef="Rank">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    Rank
                                                </th>
                                                <!-- <td
                            *matCellDef="let row; let i = index"
                            class="actions-cell"
                            mat-cell
                          >
                            <p class="tbl-row-item">{{ row.REF_NUM }}</p>
                          </td> -->
                                            </ng-container>
                                            <ng-container matColumnDef="Current_Vessel">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    Current Vessel
                                                </th>
                                                <!-- <td
                          *matCellDef="let row; let i = index"
                          class="actions-cell"
                          mat-cell
                        >
                          <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                        </td> -->
                                            </ng-container>
                                            <ng-container matColumnDef="EOC">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    EOC
                                                </th>
                                                <!-- <td
                            *matCellDef="let row; let i = index"
                            class="actions-cell"
                            mat-cell
                          >
                            <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                          </td> -->
                                            </ng-container>
                                            <ng-container matColumnDef="Select">
                                                <th *matHeaderCellDef class="actions-cell" mat-header-cell
                                                    mat-sort-header>
                                                    Select
                                                </th>
                                                <!-- <td
                            *matCellDef="let row; let i = index"
                            class="actions-cell"
                            mat-cell
                          >
                            <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                          </td> -->
                                            </ng-container>

                                            <tr *matHeaderRowDef="visibleColumnsVesselAssignAshore" mat-header-row></tr>
                                            <tr *matRowDef="let row; columns: visibleColumnsVesselAssignAshore"
                                                class="clickable route-animations-elements" mat-row>
                                            </tr>
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="9999">No data found</td>
                                            </tr>
                                        </table>
                                    </div>

                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" >
                        <form [formGroup]="JoiningRankFormGroup">
                     <table style="width: 100%;">
                    <tr>
                        <td style="text-align: end;">
                            <mat-form-field appearance="fill" style="width: 26%;">
                                <mat-label>Joining Rank</mat-label>
                                <mat-select formControlName="drpJoining_Rank">
                                    <!-- <mat-option *ngFor="let b of filtered_Department | async" [value]="b.ID">
{{ b.DEPT_NAME }}
</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <button class="create" mat-raised-button color="primary" class="btn-info">
                                Assign selected staff
                            </button>
                        </td>
                    </tr>
                    </table>
                    </form>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div>
                            <table
                                style="width: 100%;border: 1px solid lightgrey;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                <tr>
                                    <td>
                                        <span class="vessel-itinerary-text">
                                            Planned Events</span>
                                    </td>
            
                                </tr>
                            </table>
            
                            <div #TABLE>
                                <table [dataSource]="PlannedEventsdataSource" mat-table matSort #table class="details-table">
            
                                    <ng-container matColumnDef="Signing_Off_Staff_Code">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;">Staff Code</th>
            
                                    </ng-container>
            
                                    <ng-container matColumnDef="Signing_Off_blank">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;"> </th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Signing_Off_Staff_Name">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;">Staff Name</th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Signing_Off_Rank">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;">Rank</th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Signing_Off_Vessel">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;">Vessel</th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Signing_Off_Actual_EOC">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;">Actual EOC</th>
            
                                    </ng-container>
            
                                    <ng-container matColumnDef="Joining_Staff_Code">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;">Staff Code</th>
            
                                    </ng-container>
            
                                    <ng-container matColumnDef="Joining_Staff_blank1">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;"> </th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Joining_Staff_Name">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;">Staff Name</th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Joining_Staff_blank2">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;"> </th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Joining_Off_Rank">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;">Rank</th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Joining_Off_Vessel">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;">Vessel</th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Joining_Off_Available_Date">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;">Available Date</th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Joining_Off_blank3">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;"> </th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Joining_Off_blank4">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;"> </th>
            
                                    </ng-container>
                                    <ng-container matColumnDef="Joining_Off_blank5">
                                        <th mat-header-cell *matHeaderCellDef style="border-left: 1px solid #ddd;
                            border-bottom: 1px solid #ddd;
                            text-align: center;"> </th>
            
                                    </ng-container>
            
                                    <ng-container matColumnDef="header-row-first-group">
                                        <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;">
                                            
                                        </th>
                                    </ng-container>
                                    <ng-container matColumnDef="header-row-second-group">
                                        <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;">
            
                                        </th>
                                    </ng-container>
                                    <ng-container matColumnDef="header-row-third-group">
                                        <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="6" style="border-left: 1px solid #ddd;
                               border-bottom: 1px solid #ddd;
                               text-align: center;">
                                            Signing-Off Staff
                                        </th>
                                    </ng-container>
            
            
                                    <ng-container matColumnDef="header-row-fourth-group">
                                        <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;">
            
                                        </th>
                                    </ng-container>
                                    <ng-container matColumnDef="header-row-fifth-group">
                                        <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="10" style="border-left: 1px solid #ddd;
                             border-bottom: 1px solid #ddd;
                             text-align: center;">
                                    Joining Staff
                                        </th>
                                    </ng-container>
                                    <ng-container matColumnDef="header-row-sixth-group">
                                        <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                           border-bottom: 1px solid #ddd;
                           text-align: center;">
            
                                        </th>
                                    </ng-container>
                                    <ng-container matColumnDef="header-row-seventh-group">
                                        <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
                           border-bottom: 1px solid #ddd;
                           text-align: center;">
            
                                        </th>
                                    </ng-container>
            
            
                                    <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group', 'header-row-third-group', 'header-row-fourth-group', 'header-row-fifth-group',
                         'header-row-sixth-group','header-row-seventh-group']" style="height:32px">
                                    </tr>
            
            
            
                                    <tr *matHeaderRowDef="visibleColumnsPlannedEvents" mat-header-row style="height:32px">
                                    </tr>
                                    <tr *matRowDef="let row; columns: visibleColumnsPlannedEvents"
                                        class="clickable route-animations-elements" mat-row></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="9999">No data found</td>
                                    </tr>
                                </table>
                            </div>
                      
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>

</fury-page-layout>