.mat-dialog-title {
    background-color: black;

}

.logo {
    width: 20px;
    height: 20px;
}

.active-label {
    color: #009688; // Change this to your desired highlight color 
    font-weight: 500;
  }