 .mat-mdc-dialog-container .mdc-dialog__title{
			color: #fff;
			background-color: black;
		  }
.logo {
    width: 20px;
    height: 20px;
}


.filter-btn {
    margin-right: 5px !important;
    width: 100px;
    margin-bottom: 6px !important;
  }
