<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
  style="display: flex; justify-content: space-between; align-items: center;">
  <span style="font-size: 18px; margin-right: auto;margin-top: 5px;">Rank</span>
  <button mat-icon-button (click)="CloseModal()" style="margin-left: auto;">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content style="height: 100% !important;">
  <form [formGroup]="newRankFormGroup">
    <div mat-dialog-container style="padding: 20px;">
      <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Rank</mat-label>
          <input formControlName="rankName" matInput placeholder="Search by Rank" type="text" />
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Rank Short Name</mat-label>
          <input formControlName="rankShortCode" matInput placeholder="Search by Rank Short Name" type="text" />
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Sort Sequence</mat-label>
          <input formControlName="sortSequence" matInput placeholder="Search by Rank Sort Sequence" type="text" />
        </mat-form-field>
      </div>
      
      <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Rank Category</mat-label>
          <mat-select formControlName="rankCategory">
            <mat-option value=0>VMT</mat-option>
            <mat-option value=1>Junior Officer</mat-option>
            <mat-option value=2>Rating</mat-option>
            <mat-option value=3>Supernumerary</mat-option>
            <mat-option value=4>Security</mat-option>
            <mat-option value=5>Riding Gang</mat-option>


          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Vessel Department</mat-label>
          <mat-select formControlName="vesselDepartmentID">
            <mat-option value=0>Deck</mat-option>
            <mat-option value=1>Electrical</mat-option>
            <mat-option value=2>Enigne</mat-option>
            <mat-option value=3>Laundry</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Contract Duration(Months)</mat-label>
          <input formControlName="contractDuration" matInput placeholder="Search by Months" type="text" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" style="padding: 10px;">
        <mat-label style="width: 150px;">Is Cadet</mat-label>
        <mat-radio-group fxLayout="row" fxLayoutGap="16px" formControlName="isCadet">
          <mat-radio-button value=1 [checked]="newRankFormGroup.get('isCadet').value == 1">
            <label [class.active-label]="newRankFormGroup.get('isCadet').value == 1">Yes</label>
          </mat-radio-button>
          <mat-radio-button value=0 [checked]="newRankFormGroup.get('isCadet').value == 0">
            <label [class.active-label]="newRankFormGroup.get('isCadet').value == 0">No</label>
          </mat-radio-button>
        </mat-radio-group>
      </div>
 
      <div fxLayout="row" fxLayoutGap="16px" style="padding: 10px;">
        <mat-label style="width: 150px;">Is Cadet Supervisor</mat-label>
        <mat-radio-group fxLayout="row" fxLayoutGap="16px" formControlName="isCadetSupervisor">
          <mat-radio-button value=1 [checked]="newRankFormGroup.get('isCadetSupervisor').value == 1">
            <label [class.active-label]="newRankFormGroup.get('isCadetSupervisor').value == 1">Yes</label>
          </mat-radio-button>
          <mat-radio-button value=0 [checked]="newRankFormGroup.get('isCadetSupervisor').value == 0">
            <label [class.active-label]="newRankFormGroup.get('isCadetSupervisor').value == 0">No</label>
          </mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
  </form>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="SaveRank(true)" class="save-btn" [disabled]="!newRankFormGroup.valid && !IsEdit">SAVE & ADD NEW</button>
  <button mat-raised-button color="primary" (click)="SaveRank(false)" class="save-btn" [disabled]="!newRankFormGroup.valid && !IsEdit">SAVE & CLOSE</button>
  <button mat-raised-button color="warn" (click)="CloseModal()">CLOSE</button>
</mat-dialog-actions>
</mat-dialog-content>