<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row"
    fxLayoutAlign="space-between">
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;" />Add Cost Details
    </span>

    <span fxLayoutAlign="end">
        <mat-icon (click)="CloseModal()">close</mat-icon>
    </span>
</div>

<mat-dialog-content>
    <form [formGroup]="newCostDetailsFormGroup">
        <div mat-dialog-container style="padding-top: 20px;">
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Vessel</mat-label>
                    <mat-select formControlName="drpVessel">
                        <mat-option value="Alexa">Alexa</mat-option>
                        <mat-option value="Alexandre">Alexandre</mat-option>
                        <mat-option value="Bryce">Bryce</mat-option>
                        <mat-option value="Catalan_Sea">Catalan Sea</mat-option>
                        <mat-option value="Charley">Charley</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Seafarer</mat-label>
                    <mat-select formControlName="drpSeafarer">
                        <mat-option value="No">10016 YANG, Lie Regional - MST</mat-option>
                        <mat-option value="Yes">10051 KUMAR , Namitt - MST</mat-option>
                        <mat-option value="No">10156 suwondo, Suwondo - MST</mat-option>
                        <mat-option value="Yes">10190 WILLS, Kane - MST</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Cost Type</mat-label>
                    <mat-select formControlName="drpCost_Type">
                        <mat-option value="Medical">Medical</mat-option>
                        <mat-option value="PPE">PPE</mat-option>
                        <mat-option value="Training">Traning</mat-option>
                        <mat-option value="Travel">Travel</mat-option>
                        <mat-option value="Visa">Visa</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Cost Date</mat-label>
                    <input matInput formControlName="Date_Form" [matDatepicker]="pickerFrom" />
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Cost Details</mat-label>
                    <textarea matInput formControlName="txtCost_Details" placeholder="Cost Details"></textarea>
                </mat-form-field>
            </div>





            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Currency</mat-label>
                    <mat-select formControlName="drpCurrency">
                        <mat-option value="No">AED - United Arab Emirates Dirham</mat-option>
                        <mat-option value="Yes">AFN - Afghanistan Afghani</mat-option>
                        <mat-option value="No">IDR - Indonesia Rupiah</mat-option>
                        <mat-option value="Yes">IRR - Iran Rial</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Amount</mat-label>
                    <input formControlName="txtAmount" matInput placeholder="Search by Amount" type="text" />
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>USD Amount</mat-label>
                    <input formControlName="txtUSD_Amount" matInput placeholder="Search by USD Amount" type="text" />
                </mat-form-field>
            </div>


            <div class="Attachment" fxLayout="column" fxLayout.gt-sm="row">
                <!-- Use a button to create a custom file upload button -->

                <mat-label style="margin: 8px;">Attach Files </mat-label> &nbsp;

                <input style="display: none;" type="file" id="imageupload" #fileInput (change)="onFileSelected($event)"
                    accept=".pdf,.doc,.docx,.jpg,.png" />

                <button type="button" class="upload-btn" style="margin-top: 6px;" *ngIf="!selectedFileName">
                    <label for="imageupload">
                        Select</label>
                </button>
                <div *ngIf="selectedFileName" fxFlex>
                    <span aria-placeholder="Select files"> {{ selectedFileName
                        }}</span>
                    <button (click)="removeUploadedFileadditem()" mat-button style="color: #5BB318;">Remove</button>
                </div>

                <!-- File input element, hidden from view -->
            </div>

            <div class="drop-zone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)">
                {{ dragFile ? 'File selected' : 'Drop files here' }}
            </div>
            <input style="display: none;" type="file" [disabled]="dragFile === 'fileDragged'"
                (change)="onDragFileSelected($event)" multiple />
            <ul *ngIf="dragFile">
                <li *ngFor="let file of files">{{ file.name }}
                    <button (click)="removedragFileadditem(file.name)" mat-button
                        style="color: #5BB318;">Remove</button>
                </li>
            </ul>



        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" style="margin-bottom: 5px;">

    <button mat-raised-button color="primary" class="save-btn">
        Save & Close
    </button>
    <button mat-raised-button class="save-btn" color="primary">
        Save & Add New
    </button>

    <button mat-raised-button color="warn" (click)="CloseModal()">Cancel</button>
</mat-dialog-actions>