
<fury-page-layout mode="card" class="crew-document">
 
    <fury-page-layout-header>
      
      <form [formGroup]="crewDocumentFormGroup" >
        
          <h3 class="unit-packing">
            <span class="first-letter">C</span>REW  
            <span class="first-letter">D</span>OCUMENTS - 
            <span class="first-letter">L</span>IBRARY  
          </h3>
      
        
        <div class="filter-area">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">>
  
            <div fxFlex>
              <mat-form-field appearance="fill">
                <mat-label>Doc Short Name</mat-label>
                <input formControlName="txtDoc_Short_Name" matInput placeholder="Search by Short Name" type="text" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Doc Name</mat-label>
                <input formControlName="txtDoc_Name" matInput placeholder="Search by Doc Name" type="text" />
              </mat-form-field>

            </div>

            <div fxFlex>
                <mat-form-field appearance="fill">
                  <mat-label>Doc Type</mat-label>
                  <mat-select formControlName="drpDoc_Type" >
                    <mat-option value="Select">SELECT</mat-option>
                    <mat-option value="Contract_Related">Contract Related</mat-option>
                    <mat-option value="Not_relevant">Not relevant</mat-option>
                    <mat-option value="Perpetual">Perpetual</mat-option>
                    <mat-option value="Perpetual_Current_Rank">Perpetual - Current Rank</mat-option>
                    <mat-option value="Travel_Documents">Travel Documents</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Deck</mat-label>
                  <input formControlName="txtDeck" matInput placeholder="Search by Deck " type="text" />
                </mat-form-field>
                
            </div>
            <div fxFlex>
             
              <mat-form-field appearance="fill">
                <mat-label>Engine</mat-label>
                <input formControlName="txtEngine" matInput placeholder="Search by Engine " type="text" />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Is Mandatory</mat-label>
                <mat-select formControlName="drpMandatory" >
                  <mat-option value="Select">SELECT</mat-option>
                  <mat-option value="No">No</mat-option>
                  <mat-option value="Yes">Yes</mat-option>
                </mat-select>
              </mat-form-field>

              
          </div>



  

            <div fxFlex>
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="drpStatus">
                  <mat-option value="">Show Active</mat-option>
                  <mat-option value="1">Show Deleted</mat-option>
                  <mat-option value="0">Show All</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Is Cource</mat-label>
                <mat-select formControlName="drpCource" >
                  <mat-option value="Select">SELECT</mat-option>
                  <mat-option value="Yes">Yes</mat-option>
                  <mat-option value="No">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- To add this in action menu  -->
            <div mat-raised-button color="primary" style="margin: 10px;   
                    padding: 20px;
                    text-align: end;
                    color: Blue;
                    font-size: 15px;
                    cursor: pointer;"  (click)="saveNationality(null,false)" >
                Assign Nationality 
            </div>
  
            <div class="filter-btn-area" fxFlex>
              <div>
                <!-- <button style="background-color: #5cb85c;" mat-raised-button color="primary" class="filter-btn">
                  Search
                </button> -->
                <button
                mat-raised-button
                color="primary"
               style="background-color: #5cb85c;"
                class="filter-btn"
              
              >
                Search
              </button>
              </div>
  
              <div>
                <button class="create"   mat-raised-button color="warn" class="filter-btn"
                  type="button" (click)="clearFilter()">
                  Clear
                </button>
              </div>
            </div>
  
  
          </div>
        </div>
      </form>
    </fury-page-layout-header>
    <fury-page-layout-content [@fadeInUp] class="content-area">
      <div class="actions-area" >
      
        <div fxLayout="row">
          <button mat-mini-fab color="primary" [matTooltip]="'Add Document'"
              class="add-approve-btn save-btn" (click)="saveNewDocument(null,false)">
              <mat-icon class="add-approve-btn-icon">add</mat-icon>
          </button>
          <span style="margin-top: 3px;
          margin-left: 6px;font-size: 15px;"> Add New Document</span>
      </div>
        <div>
            <!-- <span style="margin: 5px;" (click)="SortCertificates(null, false)">Sort Certificates</span> -->
          <span>
            <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
            <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
            <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
          </span>
        </div>
             
      </div>
  
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="crewDocumentdataSource"  class="example-container">
  
  
  
  
          <ng-container matColumnDef="deck">
            <th mat-header-cell *matHeaderCellDef  class="borderstyle">Deck</th>
  
          </ng-container>
  
          <ng-container matColumnDef="engine">
            <th mat-header-cell *matHeaderCellDef  class="borderstyle"> Engine </th>
  
          </ng-container>
  
        
        
  
  
  
  
  
  
  
  
          <ng-container matColumnDef="header-row-first-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"  class="borderstyle">
           Doc Short Name
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-second-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"  class="borderstyle">
           Doc Name
            </th>
          </ng-container>
  
          <ng-container matColumnDef="header-row-third-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"  class="borderstyle">
           Doc Type
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-fourth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2"  class="borderstyle">
           Doc Code
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-fifth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"  class="borderstyle">
           Alarm Days
            </th>
          </ng-container>
          <ng-container matColumnDef="header-row-sixth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"  class="borderstyle">
             Is Mandatory ?
            </th>
          </ng-container>
  
          <ng-container matColumnDef="header-row-seventh-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"  class="borderstyle">
           Is Course ?
            </th>
          </ng-container>
         
          <!-- <ng-container matColumnDef="header-row-eighth-group">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
              Action
            </th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
             
              <button mat-icon-button color="primary">
                <mat-icon class="icon-display">edit</mat-icon>
              </button>
  
              <button mat-icon-button color="warn" >
                <mat-icon>close</mat-icon>
              </button>
              <button mat-icon-button  >
                <mat-icon class="icon-display">info</mat-icon>
              </button>
            </td>
          </ng-container>
   -->
         
          <tr mat-header-row
            *matHeaderRowDef="['header-row-first-group','header-row-second-group','header-row-third-group','header-row-fourth-group','header-row-fifth-group','header-row-sixth-group','header-row-seventh-group']">
          </tr>
          <tr mat-header-row *matHeaderRowDef="crewDocumentvisibleColumns;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: crewDocumentvisibleColumns;"></tr>
        </table>
  
      </div>
      <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  
    </fury-page-layout-content>
  
  </fury-page-layout>

