@import url('https://cdn.quilljs.com/1.2.6/quill.snow.css'); 

.mat-mdc-dialog-container .mdc-dialog__title{
    color: #fff;
    background-color: black;
  }
.logo {
    width: 20px;
    height: 20px;
}
