
<fury-page-layout mode="card" class="asm-nadindex-view">

    <!-- search header for PURC_Catalogue -->
    <fury-page-layout-header>

        <form [formGroup]="ASMNADIndexFilterForm">
            <!-- <div>  
            <h2>{{routeTitle}}</h2>
        </div> -->
            <h3>

                <span class="first-letter">ASM</span>
                <span class="first-letter">-</span>
                <span class="first-letter">E</span>XCEL
                <span class="first-letter">N</span>OON
                <span class="first-letter">R</span>EPORTS
                <span class="first-letter">I</span>NDEX

            </h3>
            <div class="filter-area">

                <div fxLayout="row" fxLayoutAlign="start" >

                    <div fxFlex >
                        <mat-form-field appearance="fill">
                            <mat-label>Vessel</mat-label>
                            <input type="text" formControlName="txtVessel" matInput />
              
                          </mat-form-field>
                     
                          <mat-form-field appearance="fill">
                            <mat-label>Voyage</mat-label>
                            <input type="text" formControlName="txtVoyage" matInput />
              
                          </mat-form-field>

                    </div>

                    <div fxFlex>
                        <mat-form-field appearance="fill">
                            <mat-label>From Date</mat-label>
                            <input
                              matInput
                              formControlName="From_Date"
                              [matDatepicker]="pickerfrom_date"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="pickerfrom_date"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #pickerfrom_date></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field appearance="fill">
                            <mat-label>To Date</mat-label>
                            <input
                              matInput
                              formControlName="To_Date"
                              [matDatepicker]="pickerfrom_date"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="pickerfrom_date"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #pickerfrom_date></mat-datepicker>
                          </mat-form-field>

                    </div>
                    <div fxFlex>
                        <mat-form-field appearance="fill">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="drpStatus">
                                <!-- <mat-option *ngFor="let b of filtered_Template_type | async" [value]="b.ID">
                        {{ b.PARAMETER_NAME }}
                      </mat-option> -->
                            </mat-select>
                        </mat-form-field>        
                    </div>
                 
                 


                    <div class="filter-btn-area" fxFlex>
                        <div>
                            <button class="create" mat-raised-button color="primary" class="filter-btn">
                                Search
                            </button>
                        </div>

                        <div>
                            <button class="create" mat-raised-button color="warn" class="filter-btn" type="button">
                                Clear Filter
                            </button>
                        </div>                     
                    </div>

                    <div  fxFlex>
                        <div style="text-align: center;">
                            <input style="display: none;" type="file" id="imageupload" #fileInput (change)="onFileSelected($event)"
                            accept=".pdf,.doc,.docx,.jpg,.png" />
                  
                          <button type="button" style="margin-top: 6px;padding: 7px 0px 7px;" *ngIf="!selectedFileName" class="filter-btn">
                            <label for="imageupload">
                              Select File </label>
                          </button>
                          <div *ngIf="selectedFileName" fxFlex>
                            <span style="margin-top: 2px !important;"> {{ selectedFileName }}</span>
                            <button (click)="removeUploadedFileadditem()" mat-button style="color: #5BB318;">Remove</button>
                          </div>
                        </div>

                        <div style="text-align: center;">
                            <button class="create" mat-raised-button color="primary" class="import-btn filter-btn" >
                                Import
                            </button>
                        </div>                     
                    </div>

                    <div  fxFlex>
                        <div style="margin-top: 50px;">
                          <!-- <button (click)="gotoPURC_ASM_OPS_NAD_IDIVIDUAL('ASM_OPS_NAD_INDIVIDUAL')">individual</button> -->
                        </div>  

                        <div>
                            <button class="create" mat-raised-button color="primary" class="download-btn " >
                                Download Noon Report Excel Template
                            </button>
                        </div>                     
                    </div>

                </div>
            </div>
        </form>
    </fury-page-layout-header>


    <fury-page-layout-content [@fadeInUp]>
        <div class="actions-area-asm">
            <table style="display: flex;">
                <tr>
                    <td>
                        
                    </td>             
            </table>

            <div style="width: 18%;">
                <table style="width: 100%;">
                    <tr>
                        <td><img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
                            <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
                            <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
                        </td>
                        
                        <td><img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" /></td>
                        <td>Export All Columns</td>
                    </tr>
                </table>
            </div>

           
            <!-- <div class="content-loader">
            <mat-progress-spinner
              mode="indeterminate"
              color="accent"
            ></mat-progress-spinner>
          </div> -->
        </div>

        <div #TABLE>
            <table [dataSource]="dataSource" mat-table matSort #table class="details-table">
    
                <ng-container matColumnDef="Current">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;" >
                        Current
                    </th>
                    <!-- <td
                      *matCellDef="let row; let i = index"
                      class="actions-cell"
                      mat-cell
                    >
                      <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                    </td> -->
                </ng-container>
                <ng-container matColumnDef="Next">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header style="border-left: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    text-align: center;">
                        Next
                    </th>
                    <!-- <td
                      *matCellDef="let row; let i = index"
                      class="actions-cell"
                      mat-cell
                    >
                      <p class="tbl-row-item">{{ getPicName(row.AGENT_GUID) }}</p>
                    </td> -->
                </ng-container>

                <ng-container matColumnDef="header-row-first-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                     Vessel
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-second-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                     Date
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-third-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                     Port Name
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-fourth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                     Wind Force
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-fifth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                     Avg ME RPM
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-sixth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                     Speed
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-seventh-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                     Slip
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-eighth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                     ETA Next Port
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-nineth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    VLSFO ME
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-tenth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    VLSFO AE
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-eleventh-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    VLSFO BLR
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-eleventh-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    VLSFO BLR
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-twelth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    LSMGO ME
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-thirteenth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    LSMGO AE
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-fourteenth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    LSMGO BLR
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-fifteenth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    Cly Oil Cons
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-sixteenth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    VLSFO ROB
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-eighteenth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    LSMGO ROB
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-nineteenth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    FW Produced
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-twentieth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    FW Consumed
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-twenty-first-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    FW ROB
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-twenty-second-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-twenty-third-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    
                    </th>
                </ng-container>
                <ng-container matColumnDef="header-row-twenty-fourth-group">
                    <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" style="border-left: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          text-align: center;">
                    
                    </th>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-second-group','header-row-third-group','header-row-fourth-group','header-row-fifth-group','header-row-sixth-group',
                'header-row-seventh-group','header-row-eighth-group','header-row-nineth-group','header-row-tenth-group','header-row-eleventh-group',
                'header-row-twelth-group', 'header-row-thirteenth-group', 'header-row-fourteenth-group', 'header-row-fifteenth-group', 'header-row-sixteenth-group',
                'header-row-eighteenth-group','header-row-nineteenth-group','header-row-twentieth-group','header-row-twenty-first-group','header-row-twenty-second-group',
                'header-row-twenty-third-group','header-row-twenty-fourth-group',



                ]" style="height:32px">
                </tr>


                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: visibleColumns" class="clickable route-animations-elements" mat-row>
                </tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">No data found</td>
                </tr>
            </table>
        </div>

        <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize"></mat-paginator>

    </fury-page-layout-content>


</fury-page-layout>

