
<fury-page-layout mode="card" class="crew-matrixRule">
 
    <fury-page-layout-header>
      
      <form [formGroup]="ruleAssignmentFormGroup" >
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 20px;">
            <h3 class="unit-packing">
                <span class="first-letter">C</span>REW 
                <span class="first-letter">M</span>ATRIX
                <span class="first-letter">R</span>ULES
               
            </h3>
    
            <div style="text-align: end;">
                <span>
                    
                    The exception detail are shown, generated <strong>24-hours</strong> ago. To update server rule exception, CLick
                </span>
                <button mat-flat-button color="primary" style="margin: 10px;    color: #fff;
                background-color: #54B435;
                border-color: #42ee3c;" >
                    Update server rule matrix
                </button>
            </div>
        </div>
        
        
        <div class="filter-area">
          <div fxLayout="row" fxLayoutAlign="start">
  
            <div fxFlex>
              <mat-form-field appearance="fill">
                <mat-label>Rule</mat-label>
                <input formControlName="txtRule" matInput placeholder="Search by Rule" type="text" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Vessel Name</mat-label>
                <mat-select  #select multiple formControlName="drpVessel_Name">
                  <div class="select-all">
                      <mat-checkbox [(ngModel)]="allSelected"
                                      [ngModelOptions]="{standalone: true}"
                                      (change)="toggleAllSelection()">Check All</mat-checkbox>
                  </div>
                  <mat-option (click)="optionClick()" *ngFor="let vsl of Vessel" [value]="vsl.value">
                    {{vsl.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>




            <div fxFlex>
            <mat-form-field appearance="fill">
                <mat-label>Vessel Type</mat-label>
                <mat-select formControlName="drpVessel_Type" >
                  <mat-option value="Aframax_Tanker ">Aframax Tanker </mat-option>
                  <mat-option value="Anchor_Handling_Vessel">Anchor Handling Vessel</mat-option>
                  <mat-option value="Asphalt_Tanker">Asphalt Tanker</mat-option>
                  <mat-option value="OSV">OSV</mat-option>
                  <mat-option value="Towing_Tug">Towing Tug</mat-option>
                  <mat-option value="RidingGang">Tug Boat</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Vessel Flag</mat-label>
                <mat-select formControlName="drpVessel_Flag" >
                  <mat-option value="Tri_Colour ">Tri Colour</mat-option>
                  <mat-option value="Liberia">Liberia</mat-option>
                  <mat-option value="Taiwan">Taiwan</mat-option>
                  <mat-option value="OSV">OSV</mat-option>
                  <mat-option value="TowHong_Kong_(PIL)ing_Tug">Hong Kong (PIL)</mat-option>
                  <mat-option value="USA_[US]">USA [US]</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
  

              <div fxFlex>
                <mat-form-field appearance="fill">
                    <mat-label>Vessel Fleet</mat-label>
                    <mat-select formControlName="drpVessel_Fleet" >
                      <mat-option value="Admin_Fleet ">Admin_Fleet</mat-option>
                      <mat-option value="Fleet_M_Blue">Fleet M Blue</mat-option>
                      <mat-option value="Fleet_Rhodes">Fleet Rhodes</mat-option>
                      <mat-option value="Fleet_Singapore">Fleet Singapore</mat-option>
                      <mat-option value="Fleet_VVSS">Fleet VVSS</mat-option>
                      <mat-option value="Fleet-B">Fleet-B</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Rank</mat-label>
                    <mat-select formControlName="drpRank" >
                      <mat-option value="Master">Master</mat-option>
                      <mat-option value="Trainee_Master">Trainee Master</mat-option>
                      <mat-option value="Chief_Officer">Chief Officer</mat-option>
                      <mat-option value="3rd_Officer">3rd Officer</mat-option>
                      <mat-option value="Deck_Cadet">Deck Cadet</mat-option>
                      <mat-option value="2nd_Engineer">2nd Engineer</mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
                  <div fxFlex>
                    <mat-form-field appearance="fill">
                        <mat-label>Rank Category</mat-label>
                        <mat-select formControlName="drpRank_Category" >
                          <mat-option value="Deck">Deck</mat-option>
                          <mat-option value="JuniorOfficer">Junior Officer</mat-option>
                          <mat-option value="Rating">Rating</mat-option>
                          <mat-option value="Report_Officer">Report Officer</mat-option>
                          <mat-option value="Riding_Gang">Riding Gang</mat-option>
                          <mat-option value="Security">Security</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Department</mat-label>
                        <mat-select formControlName="drpDepartment" >
                          <mat-option value="Deck">Deck</mat-option>
                          <mat-option value="Electrical">Electrical</mat-option>
                          <mat-option value="Engine">Engine</mat-option>
                          <mat-option value="Laundary">Laundry</mat-option>
                         
                        </mat-select>
                      </mat-form-field>
                      </div>
          
            <div fxFlex>
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="drpStatus">
                  <mat-option value="">Show Active</mat-option>
                  <mat-option value="1">Show Deleted</mat-option>
                  <mat-option value="0">Show All</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

           
    
  
            <div class="filter-btn-area" fxFlex>
              <div>
                <!-- <button style="background-color: #5cb85c;" mat-raised-button color="primary" class="filter-btn">
                  Search
                </button> -->
                <button
                mat-raised-button
                color="primary"
               style="background-color: #5cb85c;"
                class="filter-btn"
              
              >
                Search
              </button>
              </div>
  
              <div>
                <button class="create"   mat-raised-button color="warn" class="filter-btn"
                  type="button" (click)="clearFilter()">
                  Clear
                </button>
              </div>
            </div>
  
  
          </div>
        </div>
      </form>
    </fury-page-layout-header>
    <fury-page-layout-content [@fadeInUp] class="content-area">
      <div class="actions-area" >
      
        <div fxLayout="row">
          <button mat-mini-fab color="primary" [matTooltip]="'Add Matrix Rule'"
              class="add-approve-btn save-btn"  (click)="saveMatrixRule(null,false)">
              <mat-icon class="add-approve-btn-icon">add</mat-icon>
          </button>
          <span style="margin-top: 3px;
          margin-left: 6px;font-size: 15px;"> Add Crew Matrix Rule </span>
      </div>
      <div fxLayout="row">
      <button mat-mini-fab color="warn" class="add-sp-btn" [matTooltip]="'Remove Filter'">
          <mat-icon class="add-sp-btn-icon">remove</mat-icon>
      </button>
      <mat-card-title style="margin-left: 5px;margin-top: 3px;margin-right: 12px;font-size: medium;font-weight: bold; color: #686464;">Clear Filter</mat-card-title>
      <span>
          <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
          <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
          <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
        </span>
  </div>
             
      </div>
  
      <div #TABLE>
        <table [dataSource]="ruleAssignmentdataSource" mat-table matSort #table class="details-table">
          <ng-container matColumnDef="Rule">
            <th *matHeaderCellDef class="actions-cell" [ngStyle]="{ 'white-space': 'initial' }" mat-header-cell
              mat-sort-header>
         Rule
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" [ngStyle]="{ 'white-space': 'initial' }"
              mat-cell>
              <!-- <p class="tbl-row-item">{{row.txtUnit_Name}}</p> -->
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Vessel">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Vessel
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Vessel_Type">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Vessel Type
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Vessel_Flag">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Vessel Flag
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Vessel_Fleet">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Vessel Fleet
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Rank">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
        Rank
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Rank_Category">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
         Rank Category
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Department">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
        Department
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
    
        
          <ng-container matColumnDef="Action">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
              Action
            </th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
              <!-- -->
              <button mat-icon-button color="primary">
                <mat-icon class="icon-display">edit</mat-icon>
              </button>
  
              <button mat-icon-button color="warn" >
                <mat-icon>close</mat-icon>
              </button>
              <button mat-icon-button  >
                <mat-icon class="icon-display">info</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr *matHeaderRowDef="matrixRuleAssignmentvisibleColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: matrixRuleAssignmentvisibleColumns" class="clickable route-animations-elements" mat-row></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">No data found</td>
          </tr>
        </table>
      </div>
      <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  
    </fury-page-layout-content>
  
  </fury-page-layout>

