// .mat-dialog-title{
//     background-color: black;

// } 

.logo {
    width: 20px;
    height: 20px;
}

.new-item-modal {
    .left-label {
      width: 18%;
      margin-top: 15px;
    }
  
    .mat-form-field-infix {
      border-top: 0.84375em solid transparent;
    }
  
    .mat-form-field-infix {
      border-top: 0.84375em solid transparent !important;
    }
  
    .right-text {
      text-align: right;
    }

    .example-full-width {
      width: 100%;
      
    }
    
  }
  .mat-mdc-dialog-container .mdc-dialog__title{
    color: #fff;
    background-color: black;
  }