<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row" fxLayoutAlign="space-between" >
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;"/>Add Follow Up
    </span>
   
    <span fxLayoutAlign="end"  >
        <mat-icon (click)="CloseModal()">close</mat-icon>
      </span>
  </div>
  <div>
    <form [formGroup]="newFollowUpFormGroup">
     <div mat-dialog-container style="padding-top: 20px;">
        <div fxLayout="column" fxLayout.gt-sm="row">
            <mat-form-field fxFlex appearance="fill">
                <mat-label>Followup</mat-label>
                <textarea
                  matInput
                  formControlName="txtFollowUp"
                  placeholder="Followup"
                ></textarea>
              </mat-form-field>
        </div>
      
        
      </div>
    </form>
  
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" style="margin-bottom: 5px;">

        <button mat-raised-button color="primary" class="save-btn">
          Save & Close
        </button>
        <button mat-raised-button class="save-btn" color="primary">
          Save & Add New
        </button>
    
        <button mat-raised-button color="warn" (click)="CloseModal()">Cancel</button>
      </mat-dialog-actions>
  </div>