<!-- <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle fxLayout="row"
    fxLayoutAlign="space-between">
    <span>
        <img src="../../../../assets/img/Jot_Logo.png" class="logo" alt="excel" style="margin-right: 10px;
        margin-bottom: -4px;" />Add New PB Victualling
    </span>

    <span fxLayoutAlign="end">
        <mat-icon (click)="CloseModal()">close</mat-icon>
    </span> 
</div> -->
<div mat-dialog-title
					  cdkDrag
					  cdkDragRootElement=".cdk-overlay-pane"
					  cdkDragHandle
					  style="display: flex; justify-content: space-between; align-items: center;">
					 <span style="font-size: 18px; margin-right: auto;margin-top: 5px;">Add New PB Victualling</span>
					 <button mat-icon-button (click)="CloseModal()" style="margin-left: auto;">
						 <mat-icon>close</mat-icon>
					 </button>
					</div>
<div>
    <form [formGroup]="pbMealIndexFormGroup">
        <div mat-dialog-container style="padding: 20px;">
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Vessel</mat-label>
                    <mat-select formControlName="drpVessel">
                        <mat-option value="Alexa">Alexa</mat-option>
                        <mat-option value="Hull_1011">Hull - 1011</mat-option>
                        <mat-option value="Catalan_Sea">Catalan Sea</mat-option>
                        <mat-option value="Stena_A">Stena A</mat-option>
                        <mat-option value="Grace_River">Grace River</mat-option>
                        <mat-option value="Bryce">Bryce</mat-option>
                        <mat-option value="Plump">Plump</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Victualling Account</mat-label>
                    <mat-select formControlName="drpVictualling_Account" >
                      <mat-option value="Charterers">Charterers</mat-option>
                      <mat-option value="Family">Family</mat-option>
                      <mat-option value="Owners">Owners</mat-option>
                      <mat-option value="Vessel">Vessel</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label> Currency</mat-label>
                    <mat-select formControlName="drpCurrency">
                        <mat-option value="AED">AED - United Arab Emirates Dirham</mat-option>
                        <mat-option value="AUD">AUD - Australia Dollar</mat-option>
                        <mat-option value="BBD">BBD - Barbados Dollar</mat-option>
                        <mat-option value="BIF">BIF - Burundi Franc</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            
            <div fxLayout="column" fxLayout.gt-sm="row">
                <mat-form-field fxFlex appearance="fill">
                    <mat-label>Victualling Amount</mat-label>
                    <input formControlName="txtVictualling_Amount" matInput placeholder="Search by Victualling Amount"
                        type="text" />
                </mat-form-field>
            </div>
            


        </div>
    </form>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end end" style="margin-bottom: 5px;">

        <button mat-raised-button color="primary" class="save-btn">
            Save & Close
        </button>
        <button mat-raised-button class="save-btn" color="primary">
            Save & Add New
        </button>

        <button mat-raised-button color="warn" (click)="CloseModal()">Cancel</button>
    </mat-dialog-actions>
</div>