
<fury-page-layout mode="card" class="ops-midnightReport">
 
    <fury-page-layout-header>
      
      <form [formGroup]="MidnightReportFilterFormGroup" >
        
          <h3 class="unit-packing">
            <span class="first-letter">O</span>ffshore  
            <span class="fifth-letter">M</span>IDNIGHT
            <span class="fifth-letter">R</span>EPORT
          </h3>
      
        
        <div class="filter-area">
          <div fxLayout="row" fxLayoutAlign="start">
  
            <div fxFlex>

            
              <mat-form-field appearance="fill">
                <mat-label>Vessel</mat-label>
                <mat-select formControlName="drpVessel" >
                  <option value="Alexa">Alexa</option>
                  <option value="Alexandre">Alexandre</option>
                  <option value="Bryce">Bryce</option>
                  <option value="Charley">Charley</option>
                  <option value="Yami">Yami</option>
                  <option value="Stena A">Stena A</option>
                </mat-select>
              </mat-form-field>

            </div>

            
            <div fxFlex>
              <mat-form-field appearance="fill">
                <mat-label>Report Date</mat-label>
                <input matInput formControlName="Date_Form" [matDatepicker]="pickerFrom" placeholder="Report Date From" />
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>Report To</mat-label>
                <input matInput [matDatepicker]="pickerTo" formControlName="Date_To"  placeholder="Report Date To">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="filter-btn-area" fxFlex>
              <div>
                <!-- <button style="background-color: #5cb85c;" mat-raised-button color="primary" class="filter-btn">
                  Search
                </button> -->
                <button
                mat-raised-button
                color="primary"
               style="background-color: #5cb85c;"
                class="filter-btn"
              
              >
                Search
              </button>
              </div>
  
              <div>
                <button class="create"   mat-raised-button color="warn" class="filter-btn"
                  type="button" (click)="clearFilter()">
                  Clear
                </button>
              </div>
            </div>
  
  
          </div>
        </div>
      </form>
    </fury-page-layout-header>
    <fury-page-layout-content [@fadeInUp] class="content-area">
      <div class="actions-area" >
      
        <div fxLayout="row">
          <button mat-mini-fab color="primary" [matTooltip]="'Add Midnight Report'"
              class="add-approve-btn save-btn"  (click)="MidNightReport('OPS_Offshore_Mid_Night_Report_Individual')">
              <mat-icon class="add-approve-btn-icon">add</mat-icon>
          </button>
          <span style="margin-top: 3px;
          margin-left: 6px;font-size: 15px;">Add New Midnight Report</span>
      </div>
        <div>
            <!-- <span style="margin: 5px;" (click)="SortCertificates(null, false)">Sort Certificates</span> -->
          <span>
            <img src="../../../../assets/img/XLSX.jpg" class="logo" alt="excel" />
            <img src="../../../../assets/img/pdf.png" class="logo" alt="excel" />
            <img src="../../../../assets/img/XML1.png" class="logo" alt="excel" />
          </span>
        </div>
             
      </div>
  
      <div #TABLE>
        <table [dataSource]="offshoreMidNightdataSource" mat-table matSort #table class="details-table">
          <ng-container matColumnDef="Vessel">
            <th *matHeaderCellDef class="actions-cell" [ngStyle]="{ 'white-space': 'initial' }" mat-header-cell
              mat-sort-header>
          Vessel
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" [ngStyle]="{ 'white-space': 'initial' }"
              mat-cell>
              <!-- <p class="tbl-row-item">{{row.txtUnit_Name}}</p> -->
            </td>
          </ng-container>
  
          <ng-container matColumnDef="Report_Date">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
          Report Date
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
          <ng-container matColumnDef="Location">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
            Location
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
         
          <ng-container matColumnDef="Master">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
          Master
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="Crewob">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
          Crew O/B
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>

          <ng-container matColumnDef="Position">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
          Position
            </th>
            <td *matCellDef="let row; let i = index" class="actions-cell" mat-cell>
              <!-- <p class="tbl-row-item">{{row.drpParent_Type}}</p> -->
            </td>
          </ng-container>
         
  
  
  
        
          <ng-container matColumnDef="Action">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>
              Action
            </th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
              <!-- -->
              <button mat-icon-button color="primary">
                <mat-icon class="icon-display">edit</mat-icon>
              </button>
  
              <button mat-icon-button color="warn" >
                <mat-icon>close</mat-icon>
              </button>
              <button mat-icon-button  >
                <mat-icon class="icon-display">info</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr *matHeaderRowDef="NADDocumentsvisibleColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: NADDocumentsvisibleColumns" class="clickable route-animations-elements" mat-row></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">No data found</td>
          </tr>
        </table>
      </div>
      <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  
    </fury-page-layout-content>
  
  </fury-page-layout>

