

<mat-dialog-content class="dialog-content">
    <!-- Close Button -->
    <button mat-icon-button (click)="CloseModal()" class="close-button">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
    
    <!-- Dialog Content Here -->
    <!-- ... -->

<table class="table-data">
    <tbody>
    <tr>
        <td class="td-data">Date/Time</td>
        <td class="td-data">Amount</td>
        <td class="td-data">Cur</td>
        <td class="td-data">Invoice</td>
        <td class="td-data">DO</td>
    </tr>
    <tr>
        <td class="td-data2">30/Aug/2023</td>
        <td class="td-data2">500.00</td>
        <td class="td-data2">WST</td>
        <td class="td-data2"></td>
        <td class="td-data2"></td>
    </tr>
</tbody>
</table>

</mat-dialog-content>
